<script type="text/javascript">
// <![CDATA[
jQuery(document).ready(function(){
	$('#formDados').submit(function(){
		var data = {username: $('#username').val(), password: $('#password').val() };
		var action = $(this).attr('action');
		$.ajax({
			  url: action,
			  type: 'post',
			  dataType: 'json',
			  data: data,
			  beforeSend: function(jqXHR, settings) {
				$('#formDados #submit').attr('disabled','');
				$('#boxResponse').remove();
				$('#formDados').before('<p id="boxResponse">Aguarde, enviando dados...</p>');
			  },
			  success: function(json) {
				if (json.status==1) {
					$('#boxResponse').html(unescape(json.mensagem));
					$('#formDados').slideUp();
					setTimeout(function(){
						document.location.href = json.redirect;
					}, 1500);
				} else {
					$('#boxResponse').html(unescape(json.mensagem));
				}
			  },
			  error: function(jqXHR, textStatus, errorThrown) {

			  },
			  complete: function(jqXHR, textStatus) {
				  $('#formDados #submit').removeAttr('disabled');
			  }
		});
				  
		/*
		
		if(data=='Mensagem Enviada') 
		*/
		return false;
	});
});
// ]]>
</script>
  <div class="body">
    <div class="body_resize">
        <h2>Autenticar Usu&aacute;rio<br />
          <span>Preencha corretamente os campos abaixo.</span> </h2>
			
        <div class="port">
        <form action="<?php echo $this->baseUrl('usuario/validar'); ?>" method="post" id="formDados">
          <ol>
            <li>
              <label for="username">Usu&aacute;rio</label>
              <input type="text" id="username" name="username" class="text" />
            </li>
            <li>
              <label for="password">Senha</label>
              <input type="password" id="password" name="password" class="text" />
            </li>
            <li class="buttons">
              <input type="image" name="imageField" id="imageField" src="<?php echo $this->baseUrl('site_img'); ?>/send.gif" class="send" />
              <div class="clr"></div>
            </li>
          </ol>
        </form>
        </div>
        <div class="clr"></div>
    </div>
  </div>