<script type="text/javascript">
$(document).ready(function(){

});

</script>

  <div class="body">
    <div class="body_resize">
      <div class="clr"></div>
        <h2><?php echo $this->mensagem; ?><br />
          <span><?php echo $this->mensagem2; ?></span> 
		</h2>
      <div class="clr"></div>
    </div>
  </div>