  <div class="body">
    <div class="body_resize">
	  <h2 style="">Fechando de Pedido</h2>
      <div class="clr"></div>
		<h4>Seu Pedido foi enviado com sucesso!</h4><br />
		<p>Seu pedido est&aacute; em an&aacute;lise, por favor aguarde que em breve um de nossos consultores ir&aacute; processar seu pedido.<br />
		Voc&ecirc; receber&aacute; uma c&oacute;pia do pedido assim que a an&aacute;lise for conclu&iacute;da, recebendo uma mensagem dizendo se ele foi aprovado ou rejeitado.</p>
		<br /><br />
		<a href="<?php echo $this->baseUrl('pedidos'); ?>">Ir para Meus Pedidos</a>
      <div class="clr"></div>
    </div>
  </div>