  <div class="body">
    <div class="body_resize">
	  <h2 style="">
    	<div style="float: right">
    		<b>Revenda: </b>
      		<select id="carrinho_revenda">
      			<?php foreach ($this->revendas as $revenda) : ?>
      			<option <?php echo $this->revenda['permlink']==$revenda['permlink']?'selected':''; ?> value="<?php echo $this -> baseUrl('carrinho/r/' . $revenda['permlink']); ?>"><?php echo $revenda['titulo']; ?></option>
      			<?php endforeach; ?>
      		</select>
      		<input type="hidden" id="revenda_permlink" value="<?php echo $this->revenda['permlink']; ?>" />
  		</div>
	  	Meu Carrinho
  	</h2>
      <div class="clr"></div>
      <?php if (count($this->produtos)>0) : ?>
      <div class="left" style="height: 500px; overflow: auto; width:658px;">
        <div class="clr"></div>
        <?php foreach($this->produtos as $kproduto => $grupo_produto) : ?>
        <div class="about">
        	<?php $x = 0; ?>
        	<?php foreach($grupo_produto as $titulo_produto => $bloco_produto) : ?>
	        	<?php
				if ($x > 0) {
					if ($kproduto <= 0) {
						echo '</div><div class="about">';
					} else {
						echo '<br /><br />';
						$x = 0;
					}
				}
				$x++;
	          	?>
        	<table width="100%" class="tbprodutos">
        		<tr class="title">
        			<td colspan="10"><?php echo $titulo_produto; ?></td>
        		</tr>
        		<tr class="labels">
        			<th align="left">Embalagem</th>
        			<?php if (isset($this->auth->id_usuario)) : ?>
	        		<th align="center">C&oacute;digo</th>
	        		<th align="right">Valor L&iacute;quido</th>
	        		<th align="right">Valor Final</th>
	        		<th width="140">Quantidade</th>
        			<?php else: ?>
	        		<th align="right">S. Venda</th>
	        		<?php endif; ?>
        		</tr>
        		<?php $c=0; foreach($bloco_produto as $produto) : ?>
	        	<?php ?>
        		<tr class="dados x<?php echo $c % 2; ?>">
        			<td>
        			<?php if (!empty($produto['foto'])): ?>
	        			<a href="javascript:void(0);" class="tipR" title="<img src='<?php echo $this -> baseUrl('imagem/show/i/' . $produto['foto'] . '/p/produtos/a/300/l/300'); ?>' alt='Carregando....'/>">
	        				<img src="<?php echo $this->baseUrl('site_img/camera-small-icon.png')?>" alt="Imagem do Produto" style="vertical-align:middle" />
	        			</a>
        			<?php endif; ?>
        			<?php echo $produto['embalagem_titulo']; ?>
        			</td>
        			<?php if (isset($this->auth->id_usuario)) : ?>
	        		<td align="center"><?php echo $produto['codigo']; ?></td>
	        		<td align="right">R$ <?php echo $produto['vlrliquido']; ?></td>
	        		<td align="right">R$ <?php echo $produto['vlrfinal']; ?></td>
	        		<td align="center" class="tbupdcart">
	        			<input type="hidden" class="qtd_emb" value="<?php echo $produto['qtde_emb']; ?>" />
	        			<input type="text" size="3" maxlength="5" class="qtd" value="<?php echo $produto['quantidade']; ?>" />
	        			<a href="#adicionar_no_carrinho" class="btupdcart tipT" title="Atualizar Quantidade" rel="<?php echo $produto['id_produto']; ?>"><img src="<?php echo $this -> baseUrl('site_img/car_refresh.png'); ?>" alt="Atualizar Quantidade" /></a>
		        		| <a href="#remover_do_carrinho" class="btdelcart tipT" title="Remover do Carrinho" rel="<?php echo $produto['id_produto']; ?>"><img src="<?php echo $this -> baseUrl('site_img/car_del.png'); ?>" alt="Remover do Carrinho" /></a>
	        		</td>
	        		<?php else: ?>
	        		<td align="right">R$ <?php echo $produto['vlrmargem']; ?></td>
	        		<?php endif; ?>
        		</tr>
        		<?php $c++;
					endforeach;
 ?>
        	</table>
        	<?php endforeach; ?>
        </div>
		<?php endforeach; ?>
      </div>
      <div class="right" style="width:230px;">
      	<form id="frmConcluirPed" method="post" action="<?php echo $this -> baseUrl('carrinho/fechar-pedido'); ?>">
        <ul>
          <li class="space">&nbsp;</li>
          <li>Total de Produtos: <span class="carrinho_ti" style="float: right; font-weight: bold; font-size: 16px;"><?php echo $this -> total_item; ?></span></li>
          <li>Peso Total: <span class="carrinho_peso" style="float: right; font-weight: bold; font-size: 16px;">...</span></li>
          <li>Total L&iacute;quido: <span class="carrinho_tvl" style="float: right; font-weight: bold; font-size: 16px;">...</span></li>
          <li>Total Final: <span class="carrinho_tv" style="float: right; font-weight: bold; font-size: 16px;">...</span></li>
          <li class="space" style="text-align: right; font-size: 10px;"><i>*valor l&iacute;quido m&iacute;nimo de <?php echo Porto80_Core::converteFloat($this->revenda['pedido_valor_minimo'],2,true,true); ?></i>
          	<input type="hidden" class="carrinho_tvlf" value="0" />
          	<input type="hidden" class="carrinho_tvf" value="0" />
      	  </li>
          <li class="space" style="text-align: right; font-size: 10px;">

          <i>
          	<input type="radio" id="ckvista" name="vistaprazo" <?php /* onclick="window.location.href='<?php echo $this -> baseUrl('carrinho/index/mp/vista'); ?>'" */ ?> value="vista" <?php echo($this -> mp == 'VISTA' ? 'checked="checked"' : ''); ?>/>&agrave; vista &nbsp;&nbsp;&nbsp;
          	<input type="radio" id="ckprazo" name="vistaprazo" <?php /* onclick="window.location.href='<?php echo $this -> baseUrl('carrinho/index/mp/prazo'); ?>'" */ ?> value="prazo" <?php echo($this -> mp == 'PRAZO' ? 'checked="checked"' : ''); ?> /> a prazo</i>
          	<input type="hidden" class="carrinho_tvlf" value="0" />
          	<input type="hidden" id="carrinho_pvm" value="<?php echo $this->revenda['pedido_valor_minimo']; ?>" />
          	<input type="hidden" name="id_produto_revenda" value="<?php echo $this->revenda['id_produto_revenda']; ?>" />
          </li>
          <li>
          	<b>Observa&ccedil;&otilde;es:</b><br />
          	<textarea name="obs_cliente" rows="" cols="" style="width: 98%; height: 50px; border: 1px solid #ccc;"></textarea>
          </li>
          <?php if (!empty($this->cliente_obs)) :  ?>
          <li>
          	<b>Acordo de Pre&ccedil;o</b><br />
          	<div style="padding: 5px; width: 98%; height: 100px; border: 1px solid #ccc; overflow: auto;"><?php echo $this -> cliente_obs; ?></div>
          </li>
          <?php endif; ?>
          <li class="space">
          	<a id="btConcluirPed" style="float: right;"><img src="<?php echo $this -> baseUrl('site_img/confirmar_pedido.gif'); ?>" alt="" /></a>
          	<div class="clr"></div>
          	<!--
          	<div id="limiteTotal" style="text-align: center; color: red; font-size: 14px; <?php echo (!$this->valor_limite?'display:none;':''); ?>">O limite total de R$ 1.000,00 por pedido foi atingido, por favor remova alguns itens!</div>
          	-->
          </li>
        </ul>
        </form>
      </div>
	<?php else: ?>
	<h4>Seu carrinho est&aacute; vazio!</h4><br />
	<a href="<?php echo $this -> baseUrl('produtos'); ?>">Ir para p&aacute;gina de Produtos</a>
	<?php endif; ?>
      <div class="clr"></div>
    </div>
  </div>
