<script type="text/javascript">
$(document).ready(function(){

	var id_produto_revenda = "<?php echo $this->dados['id_produto_revenda']; ?>";
	$('#id_produto_revenda').val(id_produto_revenda);

	// validate form on keyup and submit
	var validator = $("#clienteform").validate({
		rules: {
			id_produto_revenda: "required", 
			titulo: "required"
		},
		messages: {
			id_produto_revenda: "Selecione uma revenda",
			titulo: "Informe o T&iacute;tulo"
		},
		// the errorPlacement has to take the layout into account
		errorPlacement: function(error, element) {
			error.insertAfter(element.parent().find('label:first'));
		},
		// set new class to error-labels to indicate valid fields
		success: function(label) {
			// set &nbsp; as text for IE
			label.html("&nbsp;").addClass("ok");
		}
	});

	$('#selFoto').file().choose(function(e, input) {
		e.preventDefault();
		$('#selFoto .nFoto, #foto').remove();
		$(input).attr('id','foto');
		$(input).attr('name','foto');
		$(input).appendTo('#clienteform');
		$(input).hide();
		$('#selFoto').append('<span class="nFoto">&raquo;&nbsp;'+$(input).val()+'</span>');
	});

});

</script>
	<!-- Page content -->
	<div id="page"> 
		<!-- Wrapper -->
		<div class="wrapper">
				<!-- Left column/section -->
				<section class="column width8 first">					

					<h3></h3>
					
					<form id="clienteform" method="post" action="<?php echo $this->baseUrl('admin-produto-linha/salvar/'); ?>" enctype="multipart/form-data">
						<input type="hidden" name="id_produto_linha" id="id_produto_linha" value="<?php echo $this->dados['id_produto_linha']; ?>" />
					
						<div class="box box-info"><label class="required">Campos obrigat&oacute;rios</label></div>

						<fieldset>
							<legend>Dados Principais</legend>
									
							<p>
								<label class="required" for="id_produto_revenda">Revendas:</label><br/>
								<select name="id_produto_revenda" id="id_produto_revenda">
									<?php foreach($this->revendas as $revenda): ?>
									<option value="<?php echo $revenda['id_produto_revenda']; ?>"><?php echo $revenda['titulo']; ?></option>
									<?php endforeach; ?>
								</select>
							</p>
														
							<p>
								<label class="required" for="titulo">T&iacute;tulo:</label><br/>
								<input type="text" class="half title" id="titulo" value="<?php echo stripslashes($this->dados['titulo']); ?>" name="titulo" maxlength="50" />
							</p>
							
							<header>
								<h3>Banner:</h3>
								<small>Tamanho sugerido: 910x140</small>
							</header>
							<div id="fotoBox">
								<input type="checkbox" name="limpar_imagem" value="1" />Excluir Banner
								<?php if ($this->dados['foto']!='') :?>
									<img src="<?php echo $this->baseUrl('imagem/show/p/banner/i/'.$this->dados['foto'].'/l/910/'); ?>" alt="" />
								<?php else :?>
									<img src="<?php echo $this->baseUrl('imagem/show/p/banner/i/banner-no-photo.png/l/910/'); ?>" alt="" />
								<?php endif; ?>
								<span id="boxUpFoto">
									<a href="" id="selFoto">Selecionar Banner</a>
								</span>
							</div>

						</fieldset>
												
						<p class="box"><input type="submit" class="btn btn-<?php echo $this->temaColor; ?> big" value="Salvar"/> | <a href="<?php echo $this->baseUrl('admin-produto-linha/pesquisar'); ?>" class="btn">Cancelar</a></p>						

					</form>
				
				</section>
				<!-- End of Left column/section -->
				
		</div>
		<!-- End of Wrapper -->
	</div>
	<!-- End of Page content -->