<script type="text/javascript">
function msgExcluir() {
	var msg = confirm("Deseja excluir esse produto?"); 
	return msg;
}
$(document).ready(function(){

	$( ".linhas" ).sortable({
		axis: 'y',
		handle: '.mover',
		placeholder: 'ui-state-highlight',
		revert: true,
		opacity: '0.5',
	    update : function () { 
			updateLinhasPos(this);
	    } 
	  }).disableSelection();

	  updateLinhasPos = function(obj) {

	      var order = $(obj).sortable('serialize');
	      //alert(order); //DEBUG 
	      //$('#ordem').html(order);
			$.ajax({
				url: "<?php echo $this->baseUrl('admin-produto-linha/salvar-ordem-linha'); ?>",
			    type: "POST",
		    	data: order,
				dataType: "json",
				beforeSend: function() {

				},
				complete: function() {
					
				},
				success: function(json){
					if (json.status==1) {
						//SALVOU COM SUCESSO A ORDEM
					} else {
						//alert('Ocorreu um erro ao salvar ordem dos grupos');
						//alert('ERRO:\n\n'+json.mensagem);
					}
				},
				error: function(xhr, e, th) {
					alert('Ocorreu um erro ao salvar ordem dos grupos');
					//alert('ERRO:\n\nServer Status: '+xhr.status+'\n('+xhr.statusText+')\n\nType: '+e+'\n\nMessage:\n'+xhr.responseText);
				}
			});

	  }
	
});
</script>

<style>
	ul#sortable { 
		list-style-type: none; 
		margin: 0; 
		padding: 0; 
	}
	ul.linhas { 
		list-style-type: none; 
		margin: 0; 
		padding: 0; 
	}
	ul.linhas {
		margin-left: 40px;
	}
	ul.linhas .li_linha .div_linha {
		margin: 0 3px 3px 3px; 
		padding: 0.4em; 
		padding-left: 1.5em; 
		font-size: 1.4em;
		height: 18px; 
	}
	ul.linhas .li_linha .mover {
		position: absolute; 
		margin-left: -1.3em; 
		cursor: n-resize; 
	}
	ul.linhas .li_linha .moveto {
		float: right;
	}
	.ui-state-highlight {
		height: 30px;
		border: 1px dashed #999;
	}
}
</style>

	<!-- Page content -->
	<div id="page">
		<!-- Wrapper -->
		<div class="wrapper">

				<section class="column width8 first">	
				
					<span id="ordem"></span>				

					<h3>Orden&ccedil;&atilde;o de Produtos <a href="<?php echo $this->baseUrl('admin-produto-linha'); ?>" class="btn fl-right"><span class="">&nbsp;</span>Voltar</a></h3>
					
					<hr/>
					
					<?php foreach($this->dados as $revenda=>$linhas) : ?>
					<b><?php echo $revenda; ?></b>
				    <ul class="linhas" class="connectedSortable">
				    	<?php foreach($linhas as $linha) : ?>
						<li id="linha_<?php echo $linha['id_produto_linha']; ?>" class="li_linha">
							<div class="div_linha ui-state-default">
								<span class="mover ui-icon ui-icon-arrowthick-2-n-s"></span><?php echo $linha['titulo']; ?>
							</div>
			      		</li>
			      		<?php endforeach; ?>
				    </ul>
					<?php endforeach; ?>
				</section>				
		</div>
		<!-- End of Wrapper -->
	</div>
	<!-- End of Page content -->