<script type="text/javascript">
function msgExcluir() {
	var msg = confirm("Deseja excluir essa linha de produto?"); 
	return msg;
}
$(document).ready(function(){
	$("#q").keypress(function (e) {
		if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
			$(this).parents('form').submit();
			return false;
		} else {
			return true;
		}
    });
	
});
</script>

	<!-- Page content -->
	<div id="page">
		<!-- Wrapper -->
		<div class="wrapper">

				<section class="column width8 first">					

					<h3>Linhas de Produtos</h3>
					
					<hr/>
					<div id="filtro">
						<a href="<?php echo $this->baseUrl('admin-produto-linha/novo'); ?>" class="btn fl-left novo"><span class="icon icon-add">&nbsp;</span>Novo</a>
						<a href="<?php echo $this->baseUrl('admin-produto-linha/ordenar'); ?>" class="btn fl-left novo"><span class="icon icon-ok">&nbsp;</span>Ordenar</a>
						<form action="<?php echo $this->baseUrl('admin-produto-linha/pesquisar'); ?>" method="post" class="busca">
							<input class="key" type="text" id="q" name="key" value="<?php echo $this->key; ?>" />
							<?php if ($this->key!='') : ?>
							<a href="<?php echo $this->baseUrl('admin-produto-linha/pesquisar'); ?>" class="cancelkey"><img src="<?php echo $this->baseUrl('admin_img/cancel.png'); ?>" /></a>
							<?php endif; ?>
						</form>
					</div>
					
					<?php if (count($this->dados)>0) : ?>
					<table id="report" class="stylized full" style="">
						<thead>
							<tr>
								<th>T&iacute;tulo</th>
								<th>Revenda</th>
								<th>Categorias</th>
								<th width="30">A&ccedil;&otilde;es</th>
							</tr>
						</thead>
						<tbody>
							<?php foreach($this->dados as $dados) :?>
							<tr>
								
								<td>
									<?php if (!empty($dados['foto'])) : ?><img src="<?php echo $this->baseUrl('site_img/camera-small-icon.png'); ?>" width="16" /><?php endif; ?>
									<?php echo $dados['titulo']; ?>
								</td>
								<td><?php echo $dados['revenda']; ?></td>
								<td><?php echo $dados['total_categorias']; ?></td>
								<td>
									<a href="<?php echo $this->baseUrl('admin-produto-linha/editar/id/'.$dados['id_produto_linha']); ?>" title="Editar"><img src="<?php echo $this->baseUrl('admin_img/icons/edit.gif'); ?>" /></a>
									<a href="<?php echo $this->baseUrl('admin-produto-linha/excluir/id/'.$dados['id_produto_linha']); ?>" title="Excluir" onclick="return msgExcluir();"><img src="<?php echo $this->baseUrl('admin_img/icons/action_delete.gif'); ?>" /></a>
								</td>
							</tr>
							<?php endforeach; ?>
						</tbody>
					</table>
					<div id="paginacao"><?php echo $this->paginationControl( $this->dados, 'Sliding', 'paginacao.phtml' ); ?></div>
					<?php else: ?>
					<div class="clr"></div>
					<h4>Nenhum registro encontrado.</h4>
					<?php endif; ?>
				</section>				
		</div>
		<!-- End of Wrapper -->
	</div>
	<!-- End of Page content -->