<?php echo $this->doctype(); ?>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<?php echo $this->headMeta(); ?>
		<?php echo $this->headTitle(); ?>
		<?php echo $this->headLink(); ?>
	    <?php echo $this->headScript(); ?>
</head>
<body>

	<div id="pagetitle">
		<div class="wrapper-login"></div>
	</div>
	
	<?php echo $this->layout()->content; ?>
	
	<?php echo $this->render('layout_login_footer.phtml'); ?>
	
	<?php if (count($this->flashMsg)>0) : ?>
	<!-- BLOCO MENSAGEM -->
	<div id="BoxAlert">
	<?php 
		foreach($this->flashMsg as $mensagem) : 
			echo $this->alerta(current($mensagem),key($mensagem));
		endforeach; 
	?>
	</div>
	<?php endif; ?>
	<script type="text/javascript" SRC="js/administry.js"></script>
</body>
</html>