<?php echo $this->doctype(); ?>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<?php echo $this->headMeta(); ?>
		<?php echo $this->headTitle(); ?>
	    <?php echo $this->headScript(); ?>
	    <?php echo $this->headLink(); ?>
	</head>
	<body>
	
		<?php echo $this->render('layout_admin_header.phtml'); ?>
		
		<!-- Page title -->
		<div id="pagetitle">
			<div class="wrapper">
				<h1 class="breadcrumbs"></h1>
			</div>
		</div>
		<!-- End of Page title -->
		
		<?php echo $this->layout()->content; ?>
	
		<?php echo $this->render('layout_admin_footer.phtml'); ?>
		
		<?php if (count($this->flashMsg)>0) : ?>
		<!-- BLOCO MENSAGEM -->
		<div id="BoxAlert">
		<?php 
			foreach($this->flashMsg as $mensagem) : 
				echo $this->alerta(current($mensagem),key($mensagem));
			endforeach; 
		?>
		</div>
		<?php endif; ?>

	</body>
</html>