<?php echo $this->doctype(); ?>
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<title>VicJunior - Representante Comercial</title>
		<?php echo $this->headMeta(); ?>
		<?php //echo $this->headTitle(); ?>
	    <?php echo $this->headScript(); ?>
	    <?php echo $this->headLink(); ?>
	</head>
	<body>
	
		<div class="main">
		<?php echo $this->render('layout_header.phtml'); ?>
		<?php echo $this->layout()->content; ?>
		</div>
		
		<?php echo $this->render('layout_footer.phtml'); ?>
		
		<?php if (count($this->flashMsg)>0) : ?>
		<!-- BLOCO MENSAGEM -->
		<div id="BoxAlert">
		<?php 
			foreach($this->flashMsg as $mensagem) : 
				echo $this->alerta(current($mensagem),key($mensagem));
			endforeach; 
		?>
		</div>
		<?php endif; ?>

	</body>
</html>