	<script type="text/javascript">
		$('document').ready(function(){
			/* FIX PARA COOKIE REDIRECT */
			var idadmcookie="<?php echo isset($_COOKIE['adm_id_usuario'])?$_COOKIE['adm_id_usuario']:0; ?>";
			var idadmview="<?php echo isset($this->adm_id_usuario)?$this->adm_id_usuario:0; ?>";
			if (idadmcookie!='' && idadmview!='' && idadmcookie!=idadmview) window.location.href=window.location.href;
		});
	</script>
  <div class="header">
  	<?php if (isset($this->auth->id_usuario)) : ?>
    <div id="carrinho"><a href="<?php echo $this->baseUrl('carrinho'); ?>" class="tipB" title="Meu carrinho">
    	<?php /* (<span class="carrinho_ti"></span>) <span class="carrinho_tv"></span> <span class="carrinho_peso"></span> */ ?>

    	<img src="<?php echo $this->baseUrl('site_img/car.png'); ?>" alt="" id="carrinho_img" /></a></div>
  	<?php endif; ?>
  	<div class="login">
  		 <?php if (!isset($this->auth->id_usuario)) : ?>
  		 <a href="<?php echo $this->baseUrl('usuario/login'); ?>">Autenticar</a>
  		 <?php else : ?>
  		 <a href="<?php echo $this->baseUrl('carrinho'); ?>">Meu Carrinho</a>
  		 <input type="hidden" id="carrinho_baseUrl" value="<?php echo $this->baseUrl('carrinho/'); ?>" />
		<?php if($this->user_perfil=='admin') :  ?>
  	  	| <a onclick="window.open(this.href);return false;" href="<?php echo $this->baseUrl('/admin-resumo'); ?>">Painel</a>
  	  	|<select name="adm_cliente" id="adm_cliente"><option value="-1">-- SELECIONAR CLIENTE --</option>
		<?php foreach($this->adm_clientes as $cliente) : ?>
		<option value="<?php echo $cliente['id_usuario']; ?>" <?php echo ($cliente['id_usuario']==$this->adm_id_usuario)?'selected="selected"':''; ?>><?php echo $cliente['razao_social']; ?></option>
		<?php endforeach; ?></select>
  	  	<?php else: ?>
  	  	| <a href="<?php echo $this->baseUrl('usuario'); ?>">Meus Dados</a>
  	  	
  	  	<?php endif; ?>
  	  	| <a href="<?php echo $this->baseUrl('pedidos'); ?>">Pedidos</a>
  		 | <a href="<?php echo $this->baseUrl('usuario/logout'); ?>">Sair</a>
  		 <?php endif; ?>
  	</div>
  	<div class="clr"></div>
    <div class="logo"><a href="<?php echo $this->baseUrl(''); ?>"><img src="<?php echo $this->baseUrl('site_img'); ?>/logo.png" style="height: 120px" border="0" alt="logo" /></a></div>
    <div class="menu">
      <ul>
        <li><a href="<?php echo $this->baseUrl('produtos'); ?>" <?php echo $this->menu_ativo=='produtos'?'class="active"':''; ?>><span>Produtos</span></a></li>
        <li><a href="<?php echo $this->baseUrl('pesquisar'); ?>" <?php echo $this->menu_ativo=='pesquisar'?'class="active"':''; ?>><span>Pesquisar</span></a></li>
        <li><a href="<?php echo $this->baseUrl('onde-encontro'); ?>" <?php echo $this->menu_ativo=='onde-encontro'?'class="active"':''; ?>><span>Onde Encontro</span></a></li>
        <?php /* 
        <li><a href="<?php echo $this->baseUrl('profissionais'); ?>" <?php echo $this->menu_ativo=='profissionais'?'class="active"':''; ?>><span>Profissionais</span></a></li>
        */ ?> 
		<li><a href="<?php echo $this->baseUrl('noticias'); ?>" <?php echo $this->menu_ativo=='noticias'?'class="active"':''; ?>><span>Not&iacute;cias</span></a></li>
        <li><a href="<?php echo $this->baseUrl('quem-somos'); ?>" <?php echo $this->menu_ativo=='quem-somos'?'class="active"':''; ?>><span>Quem somos</span></a></li>
        <li><a href="<?php echo $this->baseUrl('contato'); ?>" <?php echo $this->menu_ativo=='contato'?'class="active"':''; ?>><span>Contato</span></a></li>
      </ul>
      <div class="clr"></div>
    </div>
    <?php /* ?>
    <?php if (!empty($this->msnid)): ?>
    <script type="text/javascript">
	    function abremsn() {
		    url='http://settings.messenger.live.com/Conversation/IMMe.aspx?invitee=<?php echo $this->msnid; ?>@apps.messenger.live.com&mkt=pt-br';
	    	var width = 600;
	    	var height = 500;
	    	var left = 90;
	    	var top = 90;
	    	window.open(url,'atenhdimento', 'width='+width+', height='+height+', top='+top+', left='+left+', scrollbars=yes, status=no, toolbar=no, location=no, directories=no, menubar=no, resizable=no, fullscreen=no');
	    	return false;
	    }	    
    </script>
    <a href="" onclick="return abremsn();" style="float: right; font-family: verdana; font-size: 9px; text-transform: uppercase;">
    <img style="border-style: none;" src="http://messenger.services.live.com/users/<?php echo $this->msnid; ?>@apps.messenger.live.com/presenceimage?mkt=pt-BR" width="12" height="12" />
    Atendimento via Chat</a>
    <?php endif; ?>
    <?php */ ?>
    
    <strong style="float: right; clear: right; margin-top: 5px; text-decoration: none; text-transform: uppercase; font: 10px verdana; font-weight: bolder;"><?php echo $this->horario_func; ?></strong>
    
	<script type="text/javascript" src="http://download.skype.com/share/skypebuttons/js/skypeCheck.js"></script>
	<a href="skype:<?php echo $this->skypeid; ?>?chat"><img src="http://mystatus.skype.com/smallclassic/<?php echo $this->skypeid; ?>" style="border: none; padding-right: 5px; float: right; font-family: verdana; font-size: 9px; text-transform: uppercase;" width="114" height="20" alt="SKYPE <?php echo $this->skypeid; ?>" /></a>
    
    <div class="clr"></div>
  </div>
 