	<footer id="bottom">
		<div class="wrapper">
			<p><a href="http://www.porto80.com.br/" title="Porto80 - Desenvolvimento de Sistemas e Web sites">Porto80</a> &copy; 2010 | Registrado para <a href="http://www.vicjunior.com.br/">VicJunior</a></p>
		</div>
	</footer>