		<!-- Header -->
		<header id="top">
			<div class="wrapper">
				<!-- Title/Logo - can use text instead of image -->
				<div id="title"><span>VicJunior</span> - Painel de Gerenciamento</div>
				<!-- Top navigation -->
				<div id="topnav">
					<b><?php echo $this->auth->usuario; ?></b>
					<span>|</span> <a href="<?php echo $this->baseUrl('admin-configuracao'); ?>">Configura&ccedil;&otilde;es</a>
					<span>|</span> <a href="<?php echo $this->baseUrl('login/logout'); ?>">Logout</a><br />
					<?php 
					$novamsg = Porto80_Core::getNewMessage();
					?>
					<?php if ($novamsg>0) : ?>
					<small>Voc&ecirc; tem <a href="<?php echo $this->baseUrl('admin-contato'); ?>" class="high"><b><?php echo $novamsg; ?></b> <?php echo $novamsg==1?'nova mensagem':'novas mensagens'; ?>!</a></small>
					<?php endif; ?>
				</div>
				<!-- End of Top navigation -->
				<!-- Main navigation -->
				<nav id="menu">
					<?php echo $this->render('menu_'.$this->user_perfil.'.phtml'); ?>
				</nav>
				<!-- End of Main navigation -->
				<!-- Aside links -->
				<!--<aside><b>English</b> &middot; <a href="#">Spanish</a> &middot; <a href="#">German</a></aside>-->
				<!-- End of Aside links -->
			</div>
		</header>
		<!-- End of Header -->