<div class="footer">
  <div class="footer_resize">
    <p class="leftt">VicJunior &copy; 2011 - Todos os direitos reservados</p>
    <p class="right">Desenvolvimento <a href="http://www.porto80.com.br">Porto80</a></p>
    <div class="clr"></div>
  </div>
</div>
<script type="text/javascript">
Cufon.replace('h1')('h2')('h3')('h4');
</script>