	<footer id="bottom">
		<div class="wrapper">
			<p><a href="http://www.porto80.com.br/" title="Porto80 - Desenvolvimento de Sistemas e Web sites">Porto80</a> &copy; 2010 - Sistemas de Gerenciamento via WEB</p>
		</div>
	</footer>