  <div class="title_blog">
    <p><?php echo $this->home['home_frase_topo']; ?>
  </div>
  <div class="body">
    <div class="body_resize">
		<div class="">
	        <h2><?php echo html_entity_decode($this->home['home_b1_titulo']); ?><br />
			<span><?php echo html_entity_decode($this->home['home_b1_subtitulo']); ?></span> </h2>
	        <div class="fli"><img src="<?php echo $this->baseUrl('site_img/'.$this->home['home_b1_imagem']); ?>" alt="picture" width="288" height="95" /></div>
			<?php echo html_entity_decode($this->home['home_b1_texto']); ?>
		</div>
		<div class="">
	        <h2><?php echo html_entity_decode($this->home['home_b2_titulo']); ?><br />
			<span><?php echo html_entity_decode($this->home['home_b2_subtitulo']); ?></span> </h2>
	        <div class="fli"><img src="<?php echo $this->baseUrl('site_img/'.$this->home['home_b2_imagem']); ?>" alt="picture" width="288" height="95" /></div>
			<?php echo html_entity_decode($this->home['home_b2_texto']); ?>
		</div>
		<div class="">
	        <h2><?php echo html_entity_decode($this->home['home_b3_titulo']); ?><br />
			<span><?php echo html_entity_decode($this->home['home_b3_subtitulo']); ?></span> </h2>
	        <?php foreach($this->revendas as $revenda) : ?>
	        <div class="fli"><a href="<?php echo $this->baseUrl('quem-somos#'.$revenda['permlink']); ?>" title="<?php echo $revenda['titulo']; ?>"><img src="<?php echo $this->baseUrl('imagem/show/i/'.$revenda['logotipo'].'/p/revenda/a/300/l/300')?>" alt="<?php echo $revenda['titulo']; ?>" /></a></div>
	        <?php endforeach; ?>
		</div>
		<div class="clr"></div>
    </div>
  </div>
  <div class="clr"></div>