<script type="text/javascript">
$(document).ready(function(){

	/* setup navigation, content boxes, etc... */
	Funcoes.tinyMCE('<?php echo $this->baseUrl('admin_js'); ?>','.tinymce');

	// validate form on keyup and submit
	var validator = $("#dadosform").validate({
		rules: { 
			param_email_publico: {
				required: true,
				email: true
			},
			param_email_contato: {
				required: true,
				email: true
			}
		},
		// the errorPlacement has to take the layout into account
		errorPlacement: function(error, element) {
			error.insertAfter(element.parent().find('label:first'));
		},
		// set new class to error-labels to indicate valid fields
		success: function(label) {
			// set &nbsp; as text for IE
			label.html("&nbsp;").addClass("ok");
		}
	});

	$('#testarGoogleMaps').bind('click',function() {
		$(this).attr('href',$('#param_mapa_google').val());
	});

});

</script>
	<!-- Page content -->
	<div id="page"> 
		<!-- Wrapper -->
		<div class="wrapper">

				<section class="column width8 first">					

					<h3></h3>
					
					<form id="dadosform" method="post" action="<?php echo $this->baseUrl('admin-configuracao/salvar/'); ?>" enctype="multipart/form-data">
						<input type="hidden" name="id_parametro" id="id_parametro" value="<?php echo $this->dados['id_parametro']; ?>" />
					
						<div class="box box-info"><label class="required">Campos obrigat&oacute;rios</label></div>
						
						<fieldset>
							<legend>Configura&ccedil;&otilde;es</legend>
							
							<p>
								<label class="required" for="desconto_vista">Desconto &agrave; vista (%):</label><br/>
								<input type="text" id="desconto_vista" class="title" value="<?php echo number_format($this->dados['desconto_vista'],2,'.',''); ?>" maxlength="15" name="desconto_vista"/>
							</p>
							<p>
								<label class="required" for="desconto_prazo">Desconto a prazo (%):</label><br/>
								<input type="text" id="desconto_prazo" class="title" value="<?php echo number_format($this->dados['desconto_prazo'],2,'.',''); ?>" maxlength="15" name="desconto_prazo"/>
							</p>
							<p>
								<label class="required" for="param_uid_msn">ID SKYPE:</label><br/>
								<input type="text" id="param_uid_msn" class="title" value="<?php echo $this->dados['param_uid_msn']; ?>" maxlength="30" name="param_uid_msn"/>
							</p>

						</fieldset>
						
						<fieldset>
							<legend>Informa&ccedil;&otilde;es da Home</legend>
							
							<p>
								<label class="required" for="home_horario_func">Hor&aacute;rio Atendimento:</label><br/>
								<input type="text" id="home_horario_func" class="half" value="<?php echo $this->dados['home_horario_func']; ?>" maxlength="200" name="home_horario_func"/>
							</p>
							
							<p>
								<label class="required" for="home_frase_topo">Frase Topo:</label><br/>
								<input type="text" id="home_frase_topo" class="half" value="<?php echo $this->dados['home_frase_topo']; ?>" maxlength="200" name="home_frase_topo"/>
							</p>
							
							<!--  BLOCO 1 -->
							<p>
								<label class="required" for="home_b1_titulo">Bloco 1 - T&iacute;tulo:</label><br/>
								<input type="text" id="home_b1_titulo" class="half" value="<?php echo $this->dados['home_b1_titulo']; ?>" maxlength="100" name="home_b1_titulo"/>
							</p>
							<p>
								<label class="required" for="home_b1_subtitulo">Bloco 1 - Sub-T&iacute;tulo:</label><br/>
								<input type="text" id="home_b1_subtitulo" class="half" value="<?php echo $this->dados['home_b1_subtitulo']; ?>" maxlength="100" name="home_b1_subtitulo"/>
							</p>
							<p>
								<label class="required" for="home_b1_texto">Bloco 1 - Texto:</label><br/>
								<textarea id="home_b1_texto" class="medium half tinymce" name="home_b1_texto"><?php echo $this->dados['home_b1_texto']; ?></textarea>
							</p>
							
							<!--  BLOCO 2 -->
							<p>
								<label class="required" for="home_b2_titulo">Bloco 2 - T&iacute;tulo:</label><br/>
								<input type="text" id="home_b2_titulo" class="half" value="<?php echo $this->dados['home_b2_titulo']; ?>" maxlength="100" name="home_b2_titulo"/>
							</p>
							<p>
								<label class="required" for="home_b2_subtitulo">Bloco 2 - Sub-T&iacute;tulo:</label><br/>
								<input type="text" id="home_b2_subtitulo" class="half" value="<?php echo $this->dados['home_b2_subtitulo']; ?>" maxlength="100" name="home_b2_subtitulo"/>
							</p>
							<p>
								<label class="required" for="home_b2_texto">Bloco 2 - Texto:</label><br/>
								<textarea id="home_b2_texto" class="medium half tinymce" name="home_b2_texto"><?php echo $this->dados['home_b2_texto']; ?></textarea>
							</p>
							<!--  BLOCO 3 -->
							<p>
								<label class="required" for="home_b3_titulo">Bloco 3 - T&iacute;tulo:</label><br/>
								<input type="text" id="home_b3_titulo" class="half" value="<?php echo $this->dados['home_b3_titulo']; ?>" maxlength="100" name="home_b3_titulo"/>
							</p>
							<p>
								<label class="required" for="home_b3_subtitulo">Bloco 3 - Sub-T&iacute;tulo:</label><br/>
								<input type="text" id="home_b3_subtitulo" class="half" value="<?php echo $this->dados['home_b3_subtitulo']; ?>" maxlength="100" name="home_b3_subtitulo"/>
							</p>
						</fieldset>
						
						<fieldset>
							<legend>Informa&ccedil;&otilde;es de Contato</legend>
							
							<p>
								<label class="required" for="param_telefone">Telefone:</label><br/>
								<input type="text" id="param_telefone" class="half" value="<?php echo $this->dados['param_telefone']; ?>" maxlength="30" name="param_telefone"/>
							</p>
							<p>
								<label class="required" for="param_fax">Fax:</label><br/>
								<input type="text" id="param_fax" class="half" value="<?php echo $this->dados['param_fax']; ?>" maxlength="30" name="param_fax"/>
							</p>
							<p>
								<label class="required" for="param_email_publico">E-mail P&uacute;blico:</label><br/>
								<input type="text" id="param_email_publico" class="half" value="<?php echo $this->dados['param_email_publico']; ?>" maxlength="80" name="param_email_publico"/>
							</p>
							<p>
								<label class="required" for="param_email_contato">E-mail Contato:</label><br/>
								<input type="text" id="param_email_contato" class="half" value="<?php echo $this->dados['param_email_contato']; ?>" maxlength="80" name="param_email_contato"/>
							</p>
							<p>
								<label class="required" for="param_endereco">Endere&ccedil;o:</label><br/>
								<input type="text" id="param_endereco" class="half" value="<?php echo $this->dados['param_endereco']; ?>" maxlength="250" name="param_endereco"/>
							</p>
							<p>
								<label class="required" for="param_mapa_google">Link Google Maps: <a href="#" target="_blank" id="testarGoogleMaps">Testar link</a></label><br/>
								<input type="text" id="param_mapa_google" class="half" value="<?php echo $this->dados['param_mapa_google']; ?>" maxlength="250" name="param_mapa_google"/>
							</p>

						</fieldset>
						
						<p class="box"><input type="submit" class="btn btn-<?php echo $this->temaColor; ?> big" value="Salvar"/> | <a href="<?php echo $this->baseUrl('admin-resumo'); ?>" class="btn">Cancelar</a></p>						

					</form>
				
				</section>

				
		</div>
		<!-- End of Wrapper -->
	</div>
	<!-- End of Page content -->