/* LOGIN */
#loginBox {
	width: 540px;
	height: 364px;
	margin: 0 auto;
	background: url(../admin_img/bglogin.png) center center no-repeat;
	padding: 50px;
}
#loginBox h3 {
	padding: 0px;
	margin-top: 50px;
	margin-left: 105px; 
	text-transform: uppercase;
	font-size: 16pt;
	font-family: Calibri;
	font-color: #9e9e9e;
}
#loginBox #loginform {
	width: 450px;
	margin-left: 40px;
	margin-top: 40px;
}
#login-block {
	position: absolute;
	height: 18px;
	margin-top: -18px;
}
/* */
#top #title {
	padding-left: 50px;
	background: url(../admin_img/favicons/bigicon.png) left center no-repeat;
}

#filtro input {
	margin:10px 0 0;
	vertical-align:middle;
	-moz-box-shadow:0 0;
	-webkit-box-shadow:0 0;
	box-shadow:0 0;
}
#filtro .busca {
	width: 1000px;
	float: right;
	text-align: right;
}
#filtro .busca .cancelkey {
	display: block;
	float: right;
	margin-top: 10px;
	height:  18px;
}
#filtro .busca input.key {
	line-height:18px;
	padding:4px 24px 4px 4px;
	border:2px solid #5C9ADE;
	color:#666;
	width:172px;
	background:#fff url("../admin_img/search.gif") no-repeat 99% 56%;
}
#filtro .busca input.key:focus {
	border:2px solid #266DBB;
	-webkit-focus-ring-color: none;
}

#filtro .busca select {
	margin:10px 0 0;
	vertical-align:middle;
	-moz-box-shadow:0 0;
	-webkit-box-shadow:0 0;
	box-shadow:0 0;
}

#filtro a.novo {
	margin:10px 0 0;
	vertical-align:middle;
	-moz-box-shadow:0 0;
	-webkit-box-shadow:0 0;
	box-shadow:0 0;
	margin-right: 15px;
}
.clr {
	clear: both;
}

.fl-left {
	float: left;
}
.fl-right {
	float: right;
}
label.required:before {
	content:"";
}
label.required {
	background: url(../admin_img/required.png) no-repeat center left;
	padding-left: 10px;
}
.ajaxloading {
	background: url(../admin_img/loading_16.png) no-repeat center center;
}
.ajaxloading.left {
	padding-left: 18px;
	background-position: left center;
}
#fotoBox, .fotoBox {
	clear: both;
	margin: 0px 10px;
	margin-bottom: 10px;
}
#fotoBox #foto, .fotoBox #foto {
	width: 210px;
	height: 130px;
	background: url(../admin_img/guestuser.png) no-repeat left center;
	
}
#cropBox #fotocrop #thumb_target {
	
}
#cropBox #fotocrop #jcrop_target {
	float: left;
}
#cropBox#fotocrop #preview {
	width:100px;
	height:100px;
	overflow:hidden;
	margin-left:5px;
	float: right;	
}
#acao-uploader {
	display: none;
	float: right;
}
#newGaleria {
	margin-top: 5px;
	display: none;
}
#btSaveGaleria, #btCancelGaleria {
	display: none;
}
.breadcrumbs, .breadcrumbs a {
	text-decoration: none;
	color: #fff;
}

.galeriablock a {
	margin: 6px;
	display: block;
	float: left;
	border: none;
}
.galeriablock a img {
	border: 3px solid transparent;
}
.galeriablock a:hover img {
	border: 3px dashed #f00;
}
.galeriablock img.sel {
	border: 3px dashed #00f;
}

.prodsubbox {
	display: block;
	padding: 10px;
	border: 1px solid #ccc;
}
#prodmedbox { }
#prodcompbox #comprimento_val_botoes { 
	float: left;
}

.medidasBox,.comprimentosBox {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.medidasBox p, .comprimentosBox p {
	border: 2px solid #fff;
	padding: 5px;
	float: left;
	margin: 7px;
}
.medidasBox p a, .comprimentosBox p a {
	padding: 5px;
	cursor: pointer;
}
.medidasBox p.sel, .comprimentosBox p.sel {
	border: 2px dashed #f00;
}

.categoriablock {
	font-size: 15pt;
}

.categoriablock ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	
}
.categoriablock li {
	border-left: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 15px;
	text-align:  left;
}

.categoriablock li a {
	cursor: pointer;
}

.categoriablock li a.sel {
	padding-left: 18px;
	background: url(../admin_img/valid.gif) left center no-repeat;
}

#paginacao {
	margin-top: 5px;
	float: right;
	font: normal 12px Arial, Helvetica, sans-serif;
	color: #aeaeae;
	
}
div.pagination {
	clear: both;
	position: relative;
}
div.pagination a, div.pagination span.current, div.pagination span.ellipsis {
	position: relative;
	display: block;
	float: left;
	margin-right: 2px;
	padding: 4px 7px 2px 7px;
	border: 1px solid #ccc;
	color: #aeaeae;
}
div.pagination a:hover {
	text-decoration: none;
}
div.pagination span.current {
	font-weight: bold;
}
div.pagination span.ellipsis {
	border: none;
	padding: 5px 0 3px 2px;
}
div.pagination a:hover {
	background-color: #c92806;
	color: #fff;
}
div.pagination a.active {
	background-color: #fff;
	color: #000;
}

/*=============================================================*/

#boxUpFoto {
	display: block;
	cursor: pointer; 
}
#boxUpFoto  #foto {
	display: none;
}
#boxUpFoto #selFoto {
	display: block;
	margin-top: 5px;
}
#boxUpFoto #selFoto a { cursor: pointer; }
#boxUpFoto #selFoto .nFoto { display: block; }
#boxUpFoto #selFotoImagem a { cursor: pointer; }
#boxUpFoto #selFotoImagem .nFoto { display: block; }
#boxUpFoto #selFotoThumb a { cursor: pointer; }
#boxUpFoto #selFotoThumb .nFoto { display: block; }

/*=============================================================*/
table span.ativo {
	padding-left: 18px;
	background: url(../admin_img/icons/gball.png) left center no-repeat;	
}
table span.inativo {
	padding-left: 18px;
	background: url(../admin_img/icons/rball.png) left center no-repeat;
}
/*=============================================================*/
.selv {
	font-weight: bold;
	color: #f00;
	font-size: 16px;
}

.inputnum {
	width: 40px;
	border: 1px solid transparent;
}