* html div, ul {
	zoom: 1;
}

.column { 
	display: inline; 
}
 
.zfix, footer#animated { 
	filter: alpha(opacity = 0); 
}
 
/* .btn:hover, .btn:focus, .btn:active, a#totop { filter: alpha(opacity = 90); } */ 

#top .wrapper {
	z-index:10000; /* <-- IE7 needs this otherwise #menu will loose focus and submenus will dissappear */
}

header#top {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#323232', endColorstr='#272622');
}
#pagetitle {
	/*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6BA3E2', endColorstr='#5092DC');*/
}
footer#bottom {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#F2F2F2'); 
}
#rightmenu {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5FAFF', endColorstr='#E1F1FF'); 
}
progress {    
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#e9e9e9'); 
}
.progress-blue span {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6C92DC', endColorstr='#395FA8'); 
}
.progress-green span {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8FC857', endColorstr='#5C9425'); 
}
.progress-red span {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#DD5F5F', endColorstr='#A92C2C');
}
table.stylized {
	*z-index:10000; /* IE7 */
}
table.stylized td.title div.listingDetails {
	*top:24px; /* IE7 */
}

/* tiptip colors for IE7 */
#tiptip_content {
	background-color: #191919;
}
#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #191919;
}
#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #191919;
}
#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #191919;
}
#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #191919;
}
#tiptip_holder.tip_top #tiptip_arrow_inner {
	border-top-color: #191919;
}
#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	border-bottom-color: #191919;
}
#tiptip_holder.tip_right #tiptip_arrow_inner {
	border-right-color: #191919;
}
#tiptip_holder.tip_left #tiptip_arrow_inner {
	border-left-color: #191919;
}

div.wysiwyg ul.panel li a {
	filter:alpha(opacity=85);
}
div.wysiwyg ul.panel li a:hover,div.wysiwyg ul.panel li a.active {
	filter:alpha(opacity=100);
}

.dataTables_wrapper {
	_height: 302px;
	zoom: 1; /* Feeling sorry for IE */
}
.dataTables_paginate {
	*width: 50px;
	*cursor: hand;
}
table.display thead th {
	*cursor: hand;
}

div#nyroModalFull div#nyroModalWrapper div.wrapperImg div#nyroModalContent div:hover {
	filter: alpha(opacity=50);
}
div#nyroModalFull div#nyroModalWrapper div.wrapperImg div#nyroModalContent div {
	filter: alpha(opacity=20);
}

.datepick-disable {
	filter: alpha(opacity=50);
}
.datepick-cover {
    filter: mask();
}
#loginBox h3 {
	margin-top: 100px;
}