<script type="text/javascript">
$(document).ready(function(){

	$('#mes').val("<?php echo $this->mes; ?>");
	$('#ano').val("<?php echo $this->ano; ?>");
	$('#cliente').val("<?php echo $this->id_cliente; ?>");
	$('#status').val("<?php echo $this->status; ?>");
	$('#revenda').val("<?php echo $this->id_produto_revenda; ?>");
	$('#revenda').bind('change',function(){
		$('form.busca').submit();
	});

    $('form.busca').submit(function(e){
        e.preventDefault();

		var mes = $('#mes').val();
		var ano = $('#ano').val();
		var cliente_id = $('#cliente').val();
		var status = $('#status').val();
		var revenda_id = $('#revenda').val();
		var base_url = "<?php echo $this->baseUrl('admin-pedido/pesquisar'); ?>";

		var param='';
		if ($('#arquivado:checked').length>0) param+="/arquivado/sim";
		if (mes!='') param+="/mes/"+mes;
		if (ano!='') param+="/ano/"+ano;
		if (cliente_id!='') param+="/cliente/"+cliente_id;
		if (status!='') param+="/status/"+status;
		if (revenda_id!='') param+="/revenda/"+revenda_id;

		window.location = base_url+param;
	});

	$('#btExcluir').bind('click',function(e){

		if (!confirm("DESEJA EXCLUIR O REGISTRO SELECIONADO PERMANENTEMENTE?")==true) e.preventDefault();
		
	});

	$('#btArquivar').bind('click',function(e){

		if (!confirm("DESEJA ARQUIVAR O REGISTRO SELECIONADO?")==true) e.preventDefault();
		
	});

});
</script>

	<!-- Page content -->
	<div id="page">
		<!-- Wrapper -->
		<div class="wrapper">

				<section class="column width8 first">					

					<h3>Pedidos
					
							<?php if (count($this->revendas)>0) : ?>
							<select id="revenda" name="revenda" style="float: right;">
								<option value="">--- SELECIONE UMA REVENDA ---</option>
								<?php foreach($this->revendas as $revenda) : ?>
								<option value="<?php echo $revenda['id_produto_revenda']; ?>"><?php echo $revenda['titulo']; ?></option>
								<?php endforeach; ?>
							</select>
							<?php endif; ?>
					
					</h3>
					
					<hr/>
					<div id="filtro">
						<!-- 
						<a href="<?php echo $this->baseUrl('admin-pedido/novo'); ?>" class="btn fl-left novo" style="position: absolute;"><span class="icon icon-add">&nbsp;</span>Novo</a>
						 -->
						<form action="<?php echo $this->baseUrl('admin-pedido/pesquisar'); ?>" method="post" class="busca">
							<?php if ( !empty($this->key) || !empty($this->id_cliente_grupo) ) : ?>
							<a href="<?php echo $this->baseUrl('admin-pedido/pesquisar'); ?>" class="cancelkey"><img src="<?php echo $this->baseUrl('admin_img/cancel.png'); ?>" /></a>
							<?php endif; ?>
				      		<select id="mes" name="mes">
				      			<option value="">--- M&Ecirc;S ---</option>
				      			<option value="1">Janeiro</option>
				      			<option value="2">Fevereiro</option>
				      			<option value="3">Mar&ccedil;o</option>
				      			<option value="4">Abril</option>
				      			<option value="5">Maio</option>
				      			<option value="6">Junho</option>
				      			<option value="7">Julho</option>
				      			<option value="8">Agosto</option>
				      			<option value="9">Setembro</option>      			
				      			<option value="10">Outubro</option>
				      			<option value="11">Novembro</option>
				      			<option value="12">Dezembro</option>
				      		</select>
				      		<select id="ano" name="ano">
				      			<option value="">--- ANO ---</option>
				      			<?php foreach($this->anos_validos as $ano) : ?>
				      			<option value="<?php echo $ano['ano'];?>"><?php echo $ano['ano'];?></option>
				      			<?php endforeach; ?>
				      		</select>
							<select id="cliente" name="cliente">
								<option value="">--- SELECIONE UM CLIENTE ---</option>
								<?php foreach($this->clientes as $cliente) : ?>
								<option value="<?php echo $cliente['id_cliente']; ?>"><?php echo $cliente['razao_social']; ?></option>
								<?php endforeach; ?>
							</select>
							<select id="status" name="status">
								<option value="">--- STATUS ---</option>
								<option value="1">PENDENTE</option>
								<option value="2">EXCLUIDO</option>
								<option value="3">DIGITADO A FATURAR</option>
								<option value="4">FATURADO PARCIAL</option>
								<option value="5">FATURADO INTEGRAL</option>
							</select>
				      		<input type="checkbox" id="arquivado" name="arquivado" value="1" <?php echo (!empty($this->arquivado)?'checked="checked"':''); ?> style="float: left; margin-left: 10px;" title="EXIBIR ARQUIVADOS?" />
							<input type="submit" id="btEnviar" value="Filtrar" />
						</form>
					</div>
					<div style="clear: both;"></div>
					
					<?php if (count($this->dados)>0) : ?>
					<table id="report" class="stylized full" style="">
						<thead>
							<tr>
								<th>Status</th>
								<th>Data</th>
								<th>Cliente</th>
								<th>Produtos</th>
								<th>Total L&iacute;quido</th>								
								<th>Total Final</th>
								<th width="60">A&ccedil;&otilde;es</th>
							</tr>
						</thead>
						<tbody>
							<?php foreach($this->dados as $dados) :?>
							<tr>
								<td>
									<?php 
										switch($dados['status']) { 
											default:
											case 1: $pStatus='<font color="#3366ff">PENDENTE</font>'; break;
											case 2: $pStatus='EXCLUIDO'; break;
											case 3: $pStatus='DIGITADO A FATURAR'; break;
											case 4: $pStatus='FATURADO PARCIAL'; break;
											case 5: $pStatus='FATURADO INTEGRAL'; break;
										}
										echo strtoupper($pStatus);
									?>
								</td>
								<td><?php echo Porto80_Core::converteData($dados['datahora']); ?></td>
								<td><?php echo $dados['cliente_nome']; ?></td>
								<td><?php echo $dados['total_qtd']; ?></td>
								<td><?php echo Porto80_Core::converteFloat($dados['total_liquido'],2,true,true); ?></td>
								<td><?php echo Porto80_Core::converteFloat($dados['total_final'],2,true,true); ?></td>
								<td>
									<a href="<?php echo $this->baseUrl('admin-pedido/editar/id/'.$dados['id_pedido'].'/b/'.$this->keyfiltro); ?>" title="Visualizar"><img src="<?php echo $this->baseUrl('admin_img/icons/action_openfolder.png'); ?>" /></a>
									<?php if ($dados['status']!=3) : ?>
									<a href="<?php echo $this->baseUrl('admin-pedido/remover/id/'.$dados['id_pedido'].'/b/'.$this->keyfiltro); ?>" id="btExcluir" title="EXCLUIR"><img src="<?php echo $this->baseUrl('admin_img/icons/action_delete.gif'); ?>" /></a>
									<?php endif; ?>
									<a href="<?php echo $this->baseUrl('admin-pedido/arquivar/id/'.$dados['id_pedido'].'/b/'.$this->keyfiltro); ?>" id="btArquivar" title="ARQUIVAR"><img src="<?php echo $this->baseUrl('admin_img/icons/icon_document.png'); ?>" /></a>
								</td>
							</tr>
							<?php endforeach; ?>
						</tbody>
					</table>
					<div id="paginacao"><?php echo $this->paginationControl( $this->dados, 'Sliding', 'paginacao.phtml' ); ?></div>
					<?php else: ?>
					<div class="clr"></div>
					<h4>Nenhum registro encontrado.</h4>
					<?php endif; ?>
				</section>				
		</div>
		<!-- End of Wrapper -->
	</div>
	<!-- End of Page content -->