	<script type="text/javascript">
	$(document).ready(function(){
		
	});
	</script>
	<div id="page">
		<!-- Wrapper -->
		<div class="wrapper">
		
				<section class="column width8 first">
					
					<div class="colgroup leading">
						<div class="column width4 first">
							<h4>Clientes <a href="<?php echo $this->baseUrl('admin-cliente'); ?>"><img src="<?php echo $this->baseUrl('admin_img/page_white_go.png'); ?>" /></a></h4>
							<hr/>
							<table class="no-style full">
								<tbody>
									<tr>
										<td>Pendentes</td>
										<td class="ta-right"><?php echo $this->cliente['pendente']; ?></td>
										<td class="ta-right"></td>
									</tr>
									<tr>
										<td>Ativos</td>
										<td class="ta-right"><?php echo $this->cliente['total']; ?></td>
										<td class="ta-right"></td>
									</tr>
									<tr>
										<td>Total</td>
										<td class="ta-right"><?php echo ($this->cliente['pendente']+$this->cliente['total']); ?></td>
										<td class="ta-right"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="column width4">
							<h4>Produtos</h4>
							<hr/>
							<table class="no-style full">
								<tbody>
									<tr>
										<td>Linhas</td>
										<td class="ta-right"><?php echo $this->produto['linha']; ?></td>
										<td class="ta-right"><a href="<?php echo $this->baseUrl('admin-produto-linha'); ?>"><img src="<?php echo $this->baseUrl('admin_img/page_white_go.png'); ?>" /></a></td>
									</tr>
									<tr>
										<td>Categorias</td>
										<td class="ta-right"><?php echo $this->produto['categoria']; ?></td>
										<td class="ta-right"><a href="<?php echo $this->baseUrl('admin-produto-categoria'); ?>"><img src="<?php echo $this->baseUrl('admin_img/page_white_go.png'); ?>" /></a></td>
									</tr>
									<tr>
										<td>Produtos</td>
										<td class="ta-right"><?php echo $this->produto['produto']; ?></td>
										<td class="ta-right"><a href="<?php echo $this->baseUrl('admin-produto'); ?>"><img src="<?php echo $this->baseUrl('admin_img/page_white_go.png'); ?>" /></a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				
					<div class="colgroup leading">
						<div class="column width4 first">
							<h4>Pedidos <a href="<?php echo $this->baseUrl('admin-pedido'); ?>"><img src="<?php echo $this->baseUrl('admin_img/page_white_go.png'); ?>" /></a></h4>
							<hr/>
							<table class="no-style full">
								<tbody>
									<tr>
										<td>Pendentes</td>
										<td class="ta-right"><?php echo $this->pedido['pendente']; ?></td>
										<td class="ta-right"></td>
									</tr>
									<tr>
										<td>Excluidos</td>
										<td class="ta-right"><?php echo $this->pedido['cancelado']; ?></td>
										<td class="ta-right"></td>
									</tr>
									<tr>
										<td>Faturados</td>
										<td class="ta-right"><?php echo $this->pedido['concluido']; ?></td>
										<td class="ta-right"></td>
									</tr>
									<tr>
										<td>Total</td>
										<td class="ta-right"><?php echo ($this->pedido['pendente']+$this->pedido['cancelado']+$this->pedido['concluido']); ?></td>
										<td class="ta-right"></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="column width4">
							<h4>Contato <a href="<?php echo $this->baseUrl('admin-contato'); ?>"><img src="<?php echo $this->baseUrl('admin_img/page_white_go.png'); ?>" /></a></h4>
							<hr/>
							<table class="no-style full">
								<tbody>
									<tr>
										<td>N&atilde;o lido</td>
										<td class="ta-right"><?php echo $this->contato['naolido']; ?></td>
										<td class="ta-right"></td>
									</tr>
									<tr>
										<td>Lido</td>
										<td class="ta-right"><?php echo $this->contato['lido']; ?></td>
										<td class="ta-right"></td>
									</tr>
									<tr>
										<td>Respondido</td>
										<td class="ta-right"><?php echo $this->contato['respondido']; ?></td>
										<td class="ta-right"></td>
									</tr>
									<tr>
										<td>Total</td>
										<td class="ta-right"><?php echo ($this->contato['naolido']+$this->contato['lido']+$this->contato['respondido']); ?></td>
										<td class="ta-right"></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="clear">&nbsp;</div>
				
				</section>
						
		</div>
		<!-- End of Wrapper -->
	</div>
	<!-- End of Page content -->