		<ul class="sf-menu">
			<li <?php echo $this->menuativo=='admin-resumo'?'class="current"':''; ?> ><a title="Resumo" href="<?php echo $this->baseUrl('admin-resumo'); ?>">Resumo</a></li>
			<?php 
			$arrayClass = array('admin-cliente','admin-cliente-grupo');
			$cliClass = (in_array($this->menuativo,$arrayClass))?'class="current"':''; 
			?>
			<li <?php echo $cliClass; ?>><a href="<?php echo $this->baseUrl('admin-cliente'); ?>">Clientes</a>
				<ul>
					<li><a href="<?php echo $this->baseUrl('admin-cliente'); ?>">Clientes</a></li>
					<li><a href="<?php echo $this->baseUrl('admin-cliente-grupo'); ?>">Grupos</a></li>
				</ul>
			</li>
			<?php 
			$arrayClass = array('admin-produto','admin-produto-categoria', 'admin-produto-linha', 'admin-produto-embalagem', 'admin-produto-relatorio');
			$prodClass = (in_array($this->menuativo,$arrayClass))?'class="current"':''; 
			?>
			<li <?php echo $prodClass; ?>><a href="<?php echo $this->baseUrl('admin-produto'); ?>">Produtos</a>
				<ul>
					<li><a href="<?php echo $this->baseUrl('admin-produto'); ?>">Produtos</a></li>
					<li><a href="<?php echo $this->baseUrl('admin-produto-categoria'); ?>">Categorias</a></li>
					<li><a href="<?php echo $this->baseUrl('admin-produto-linha'); ?>">Linhas</a></li>
					<li><a href="<?php echo $this->baseUrl('admin-produto-embalagem'); ?>">Embalagens</a></li>
					<li><a href="<?php echo $this->baseUrl('admin-produto-relatorio'); ?>">Relat&oacute;rio</a></li>
					<li><a href="<?php echo $this->baseUrl('admin-produto-ordem'); ?>">Ordem</a></li>
				</ul>
			</li>
			<?php 
			$arrayClass = array('admin-revenda');
			$notClass = (in_array($this->menuativo,$arrayClass))?'class="current"':''; 
			?>
			<li <?php echo $notClass; ?>><a href="<?php echo $this->baseUrl('admin-revenda'); ?>" >Representa&ccedil;&otilde;es</a>
				<ul>
					<li><a href="<?php echo $this->baseUrl('admin-revenda'); ?>">Revendas</a></li>
				</ul>
			</li>
			<?php 
			$arrayClass = array('admin-noticia','admin-noticia-categoria');
			$notClass = (in_array($this->menuativo,$arrayClass))?'class="current"':''; 
			?>
			<li <?php echo $notClass; ?>><a href="<?php echo $this->baseUrl('admin-noticia'); ?>">Not&iacute;cias</a>
				<ul>
					<li><a href="<?php echo $this->baseUrl('admin-noticia'); ?>">Not&iacute;cias</a></li>
					<li><a href="<?php echo $this->baseUrl('admin-noticia-categoria'); ?>">Categorias</a></li>
				</ul>
			</li>
			<?php  /* 
			<?php 
			$arrayClass = array('admin-profissional','admin-profissional-categoria');
			$profClass = (in_array($this->menuativo,$arrayClass))?'class="current"':''; 
			?>
			<li <?php echo $profClass; ?>><a href="<?php echo $this->baseUrl('admin-profissional'); ?>">Profissional</a>
				<ul>
					<li><a href="<?php echo $this->baseUrl('admin-profissional'); ?>">Profissional</a></li>
					<li><a href="<?php echo $this->baseUrl('admin-profissional-categoria'); ?>">Categorias</a></li>
				</ul>
			</li>
			*/ ?>
			<li <?php echo $this->menuativo=='admin-pedido'?'class="current"':''; ?>><a href="<?php echo $this->baseUrl('admin-pedido'); ?>">Pedidos</a></li>
			<li <?php echo $this->menuativo=='admin-contato'?'class="current"':''; ?>><a href="<?php echo $this->baseUrl('admin-contato'); ?>">Contatos</a></li>
			<li <?php echo $this->menuativo=='admin-usuario'?'class="current"':''; ?>><a href="<?php echo $this->baseUrl('admin-usuario'); ?>">Usu&aacute;rios</a></li>
		</ul>
		