<script type="text/javascript">
function msgExcluir() {
	var msg = confirm("Deseja excluir essa categoria de produto?"); 
	return msg;
}
$(document).ready(function(){

	$('#revenda').val("<?php echo $this->id_produto_revenda; ?>");

    $('form.busca').submit(function(e){

    	var categoria_titulo = escape($('#q').val());
		var revenda_id = $('#revenda').val();
		var base_url = "<?php echo $this->baseUrl('admin-produto-categoria/pesquisar'); ?>";

		var param='';
		if (categoria_titulo!='') param+="/key/"+categoria_titulo;
		if (revenda_id!='') param+="/revenda/"+revenda_id;

		window.location = base_url+param;
		
    	return false;
	});
	
});
</script>

	<!-- Page content -->
	<div id="page">
		<!-- Wrapper -->
		<div class="wrapper">

				<section class="column width8 first">					

					<h3>Categorias de Produtos</h3>
					
					<hr/>
					<div id="filtro">
						<a href="<?php echo $this->baseUrl('admin-produto-categoria/novo'); ?>" class="btn fl-left novo" style="position: absolute;"><span class="icon icon-add">&nbsp;</span>Novo</a>
						<form action="<?php echo $this->baseUrl('admin-produto-categoria/pesquisar'); ?>" method="post" class="busca">
							<?php if ( !empty($this->key) || !empty($this->id_produto_revenda) ) : ?>
							<a href="<?php echo $this->baseUrl('admin-produto-categoria/pesquisar'); ?>" class="cancelkey"><img src="<?php echo $this->baseUrl('admin_img/cancel.png'); ?>" /></a>
							<?php endif; ?>
							<?php if (count($this->revendas)>0) : ?>
							<select id="revenda" name="revenda">
								<option value="">--- SELECIONE UMA REVENDA ---</option>
								<?php foreach($this->revendas as $revenda) : ?>
								<option value="<?php echo $revenda['id_produto_revenda']; ?>"><?php echo $revenda['titulo']; ?></option>
								<?php endforeach; ?>
							</select>
							<?php endif; ?>
							<input class="key" type="text" id="q" name="key" value="<?php echo $this->key; ?>" />
							<input type="submit" id="btEnviar" value="Filtrar" />
						</form>
					</div>
					<div style="clear: both;"></div>

					<?php if (count($this->dados)>0) : ?>
					<table id="report" class="stylized full" style="">
						<thead>
							<tr>
								<th>Grupo</th>
								<th>T&iacute;tulo</th>
								<th>Total de Produtos</th>
								<th width="30">A&ccedil;&atilde;es</th>
							</tr>
						</thead>
						<tbody>
							<?php foreach($this->dados as $dados) :?>
							<tr>
								<td><?php echo $dados['grupo']; ?></td>
								<td><?php echo $dados['titulo']; ?></td>
								<td><?php echo $dados['total_produtos']; ?></td>
								<td>
									<a href="<?php echo $this->baseUrl('admin-produto-categoria/editar/id/'.$dados['id_produto_categoria']); ?>" title="Editar"><img src="<?php echo $this->baseUrl('admin_img/icons/edit.gif'); ?>" /></a>
									<a href="<?php echo $this->baseUrl('admin-produto-categoria/excluir/id/'.$dados['id_produto_categoria']); ?>" title="Excluir" onclick="return msgExcluir();"><img src="<?php echo $this->baseUrl('admin_img/icons/action_delete.gif'); ?>" /></a>
								</td>
							</tr>
							<?php endforeach; ?>
						</tbody>
					</table>
					<div id="paginacao"><?php echo $this->paginationControl( $this->dados, 'Sliding', 'paginacao.phtml' ); ?></div>
					<?php else: ?>
					<div class="clr"></div>
					<h4>Nenhum registro encontrado.</h4>
					<?php endif; ?>
				</section>				
		</div>
		<!-- End of Wrapper -->
	</div>
	<!-- End of Page content -->