<script type="text/javascript">
function msgExcluir() {
	var msg = confirm("Deseja excluir esse produto?"); 
	return msg;
}
$(document).ready(function(){

	$('#categoria').val("<?php echo $this->id_produto_categoria; ?>");
	$('#revenda').val("<?php echo $this->id_produto_revenda; ?>");
	$('#categoria, #revenda').bind('change',function(e){
		$('form.busca').submit();
	});

    $('form.busca').submit(function(e){

    	var produto_titulo = escape($('#q').val());
		var categoria_id = $('#categoria').val();
		var revenda_id = $('#revenda').val();
		var base_url = "<?php echo $this->baseUrl('admin-produto/pesquisar'); ?>";

		var param='';
		if (produto_titulo!='') param+="/key/"+produto_titulo;
		if (categoria_id!='') param+="/categoria/"+categoria_id;
		if (revenda_id!='') param+="/revenda/"+revenda_id;

		window.location = base_url+param;
		
    	return false;
	});
	
});
</script>

	<!-- Page content -->
	<div id="page">
		<!-- Wrapper -->
		<div class="wrapper">

				<section class="column width8 first">					

					<h3>Produtos</h3>
					
					<hr/>
					<div id="filtro">
						<a href="<?php echo $this->baseUrl('admin-produto/novo'); ?>" class="btn fl-left novo" style="position: absolute;"><span class="icon icon-add">&nbsp;</span>Novo</a>
						<form action="<?php echo $this->baseUrl('admin-produto/pesquisar'); ?>" method="post" class="busca">
							Produto: <input class="" type="text" id="q" name="key" value="<?php echo $this->key; ?>" size="30"/>
							<?php if ( !empty($this->key) || !empty($this->id_produto_categoria) || !empty($this->id_produto_revenda) ) : ?>
							<a href="<?php echo $this->baseUrl('admin-produto/pesquisar'); ?>" class="cancelkey"><img src="<?php echo $this->baseUrl('admin_img/cancel.png'); ?>" /></a>
							<?php endif; ?>
							<select id="categoria" name="categoria">
								<option value="">--- TODAS AS CATEGORIAS ---</option>
								<?php foreach($this->categorias as $grupo => $categorias) : ?>
								<optgroup label="<?php echo $grupo; ?>">
									<?php foreach($categorias as $categoria) : ?>
									<option value="<?php echo $categoria['id_produto_categoria']; ?>"><?php echo $categoria['titulo']; ?></option>
									<?php endforeach; ?>
								</optgroup>
								<?php endforeach; ?>
							</select>
							<?php if (count($this->revendas)>0) : ?>
							<select id="revenda" name="revenda">
								<option value="">--- SELECIONE UMA REVENDA ---</option>
								<?php foreach($this->revendas as $revenda) : ?>
								<option value="<?php echo $revenda['id_produto_revenda']; ?>"><?php echo $revenda['titulo']; ?></option>
								<?php endforeach; ?>
							</select>
							<?php endif; ?>
							<input type="submit" id="btEnviar" value="Filtrar" />
						</form>
					</div>
					<div style="clear: both;"></div>

					
					<?php if (count($this->dados)>0) : ?>
					<table id="report" class="stylized full" style="">
						<thead>
							<tr>
								<th>Linha</th>
								<th>Categoria</th>
								<th>Produto</th>
								<th>Embalagem</th>
								<th>Imagem</th>
								<th width="30">A&ccedil;&otilde;es</th>
							</tr>
						</thead>
						<tbody>
							<?php foreach($this->dados as $dados) :?>
							<tr>
								<td><?php echo $dados['linha']; ?></td>							
								<td><?php echo $dados['categoria']; ?></td>
								<td><?php echo $dados['titulo']; ?></td>
								<td><?php echo $dados['embalagem']; ?></td>
								<td><img src="<?php echo $this->baseUrl('imagem/show/i/'.$dados['foto'].'/p/produtos/a/75'); ?>" /></td>
								<td>
									<a href="<?php echo $this->baseUrl('admin-produto/editar/id/'.$dados['id_produto'].'/b/'.$this->keyfiltro); ?>" title="Editar"><img src="<?php echo $this->baseUrl('admin_img/icons/edit.gif'); ?>" /></a>
									<a href="<?php echo $this->baseUrl('admin-produto/excluir/id/'.$dados['id_produto'].'/b/'.$this->keyfiltro); ?>" title="Excluir" onclick="return msgExcluir();"><img src="<?php echo $this->baseUrl('admin_img/icons/action_delete.gif'); ?>" /></a>
								</td>
							</tr>
							<?php endforeach; ?>
						</tbody>
					</table>
					<div id="paginacao"><?php echo $this->paginationControl( $this->dados, 'Sliding', 'paginacao.phtml' ); ?></div>
					<?php else: ?>
					<div class="clr"></div>
					<h4>N&atilde;o h&oacute; produtos cadastrados</h4>
					<?php endif; ?>
				</section>				
		</div>
		<!-- End of Wrapper -->
	</div>
	<!-- End of Page content -->