<script type="text/javascript">
$(document).ready(function(){
	
	$(".tip[title]").tipTip({
        activation:"focus",
        defaultPosition:"top",
        edgeOffset:3,
        maxWidth:"auto"
	});

	$('#status').val(status);

	// validate form on keyup and submit
	var validator = $("#formDados").validate({
		rules: {
			titulo: "required",
			ordem: {
				required: true,
				numeric: true
			}
		},
		messages: {
			titulo: "Informe o T&iacute;tulo",
			ordem: {
				required: "Informe a ordem",
				numeric: "Ordem deve ser num&eacute;rica"
			}
		},
		// the errorPlacement has to take the layout into account
		errorPlacement: function(error, element) {
			error.insertAfter(element.parent().find('label:first'));
		},
		// set new class to error-labels to indicate valid fields
		success: function(label) {
			// set &nbsp; as text for IE
			label.html("&nbsp;").addClass("ok");
		}
	});
	
	$('#selFoto').file().choose(function(e, input) {
		e.preventDefault();
		$('#selFoto .nFoto, #foto').remove();
		$(input).attr('id','foto');
		$(input).attr('name','foto');
		$(input).appendTo('#formDados');
		$(input).hide();
		$('#selFoto').append('<span class="nFoto">&raquo;&nbsp;'+$(input).val()+'</span>');
	});

});

</script>

	<!-- Page content -->
	<div id="page">
		<!-- Wrapper -->
		<div class="wrapper">
				<!-- Left column/section -->
				<section class="column width6 first">					

					<h3></h3>
					
					<form id="formDados" method="post" action="<?php echo $this->baseUrl('admin-revenda/salvar/b/'.$this->keyfiltro); ?>" enctype="multipart/form-data">
						<input type="hidden" name="id_produto_revenda" id="id_produto_revenda" value="<?php echo $this->dados['id_produto_revenda']; ?>" />
					
						<div class="box box-info"><label class="required">Campos obrigat&oacute;rios</label></div>
						
						<fieldset>
							<legend>Informa&ccedil;&otilde;es</legend>
							
							<p>
								<label class="required" for="titulo">T&iacute;tulo:</label><br/>
								<input type="text" class="full title" id="titulo" value="<?php echo $this->dados['titulo']; ?>" name="titulo" maxlength="100" />
							</p>
							
							<p>
								<label class="required" for="ordem">Ordem:</label><br/>
								<input type="text" class="" id="ordem" value="<?php echo $this->dados['ordem']; ?>" name="ordem" maxlength="10" />
							</p>
							
							<p>
								<label class="required" for="pedido_valor_minimo">Valor M&iacute;nimo Pedido:</label><br/>
								<input type="text" class="" id="pedido_valor_minimo" value="<?php echo $this->dados['pedido_valor_minimo']; ?>" name="pedido_valor_minimo" maxlength="10" />
							</p>
							
							<p>
								<label class="">Ativo?</label><br/>
								<select id="status" name="status">
									<option value="1">Sim</option>
									<option value="0">N&atilde;o</option>
								</select>
							</p>
							
						</fieldset>
						
						<span style="font-weight: bold; text-align: right;"><input type="checkbox" name="delfoto" value="S" />Remover foto atual</span>

						<p class="box"><input type="submit" class="btn btn-<?php echo $this->temaColor; ?> big" value="Salvar"/> | <a href="<?php echo $this->url_back; ?>" class="btn">Cancelar</a></p>						

					</form>
					
				</section>
				<!-- End of Left column/section -->
				
				<!-- Right column/section -->
				<aside class="column width2">
					<div id="rightmenu">
						<header>
							<h3>Imagem:</h3>
							<small>Tamanho sugerido: 288x95</small>
						</header>
						<div id="fotoBox">
							<?php if ($this->dados['logotipo']!='') :?>
								<img src="<?php echo $this->baseUrl('imagem/show/p/revenda/i/'.$this->dados['logotipo'].'/rc/200/'); ?>" alt="" />
							<?php else :?>
								<img src="<?php echo $this->baseUrl('imagem/show/rc/200/'); ?>" alt="" />
							<?php endif; ?>
							<span id="boxUpFoto">
								<a href="" id="selFoto">Selecionar Foto</a>
							</span>
						</div>
					</div>
				</aside>
				<!-- End of Right column/section -->
				
		</div>
		<!-- End of Wrapper -->
	</div>
	<!-- End of Page content -->