<script type="text/javascript">
function msgExcluir() {
	var msg = confirm("Deseja excluir essa revenda?"); 
	return msg;
}
$(document).ready(function(){

	
});
</script>

	<!-- Page content -->
	<div id="page">
		<!-- Wrapper -->
		<div class="wrapper">

				<section class="column width8 first">					

					<h3>Revendas</h3>
					
					<hr/>
					<div id="filtro">
						<a href="<?php echo $this->baseUrl('admin-revenda/novo'); ?>" class="btn fl-left novo"><span class="icon icon-add">&nbsp;</span>Novo</a>
					</div>
					<div style="clear: both"><br /></div>
					
					<?php if (count($this->dados)>0) : ?>
					<table id="report" class="stylized full" style="">
						<thead>
							<tr>
								<th>Logotipo</th>
								<th>Revenda</th>
								<th>Vlr. Pedido</th>
								<th>Ordem</th>
								<th width="30">A&ccedil;&otilde;es</th>
							</tr>
						</thead>
						<tbody>
							<?php foreach($this->dados as $dados) :?>
							<tr>
								<td width="50"><img src="<?php echo $this->baseUrl('imagem/show/i/'.$dados['logotipo'].'/p/revenda/a/50'); ?>" /></td>
								<td style="vertical-align: middle;"><span class="<?php echo $dados['status']==1?'ativo':'inativo'; ?>"><?php echo $dados['titulo']; ?></span></td>
								<td style="vertical-align: middle;"><?php echo Porto80_Core::converteFloat($dados['pedido_valor_minimo'],2,true,true); ?></td>
								<td style="vertical-align: middle;"><?php echo $dados['ordem']; ?></td>
								<td>
									<a href="<?php echo $this->baseUrl('admin-revenda/editar/id/'.$dados['id_produto_revenda']); ?>" title="Editar"><img src="<?php echo $this->baseUrl('admin_img/icons/edit.gif'); ?>" /></a>
									<a href="<?php echo $this->baseUrl('admin-revenda/excluir/id/'.$dados['id_produto_revenda']); ?>" title="Excluir" onclick="return msgExcluir();"><img src="<?php echo $this->baseUrl('admin_img/icons/action_delete.gif'); ?>" /></a>
								</td>
							</tr>
							<?php endforeach; ?>
						</tbody>
					</table>
					<div id="paginacao"><?php echo $this->paginationControl( $this->dados, 'Sliding', 'paginacao.phtml' ); ?></div>
					<?php else: ?>
					<div class="clr"></div>
					<h4>N&atilde;o h&aacute; produtos cadastrados</h4>
					<?php endif; ?>
				</section>				
		</div>
		<!-- End of Wrapper -->
	</div>
	<!-- End of Page content -->