  <div class="body">
    <div class="body_resize">
      <div class="clr"></div>
      <div class="left">
        <h2><?php echo $this->categoria['titulo']; ?></h2>
        <div class="clr"></div>
        <?php foreach($this->profissionais as $profissional) : ?>
        <div class="about"><b class="title"><?php echo $profissional['nome']; ?></b><?php echo html_entity_decode($profissional['info'], ENT_NOQUOTES); ?></div>
		<?php endforeach; ?>
      </div>
      <div class="right">
        <h2>Categorias</h2>
        <div class="clr"></div>
        <ul>
		<?php foreach($this->profissional_categoria as $profissional_categoria) : ?>
          <li><a href="<?php echo $this->baseUrl('profissionais/'.$profissional_categoria['perm_link']); ?>"><?php echo $profissional_categoria['titulo']; ?></a></li>
		<?php endforeach; ?>
        </ul>
      </div>
      <div class="clr"></div>
    </div>
  </div>