<script type="text/javascript">
	$(document).ready(function(){
		$.each($('.infoprod'),function(i,obj) {
			idobj = $(obj).attr('id');
			$('#'+idobj).dialog({
				autoOpen: false,
				height: 400,
				width: 500,
				modal: true
			});
		});
		
		$('.btmodalprod').bind('click',function(e){
			e.preventDefault();
			var id = $(this).attr('href');
			$('#infoprod'+id).dialog( "open" );
		});

	});
</script>
  
  <div class="body">
    <div class="body_resize">
    	<?php if (isset($this->linha_banner) && !empty($this->linha_banner)) : ?>
    	<img src="<?php echo $this->baseUrl('imagem/show/p/banner/i/'.$this->linha_banner.'/l/910/'); ?>" alt="" />
    	<?php endif; ?>
	  <h2 style="text-align: center">
		<div class="fri"><a href="<?php echo $this->baseUrl('produtos/'.$this->revenda['permlink']); ?>" title="<?php echo $this->revenda['titulo']; ?>"><img src="<?php echo $this->baseUrl('imagem/show/i/'.$this->revenda['logotipo'].'/p/revenda/a/32/l/100')?>" alt="<?php echo $this->revenda['titulo']; ?>" /></a></div>
  		<?php $x=0; foreach ($this->linhas as $linha) : ?>
  			<?php if ($x>0) echo '&nbsp;|&nbsp;'; ?><a href="<?php echo $this->baseUrl('produtos/'.$this->revenda['permlink'].'/'.$linha['permlink']); ?>" <?php echo $this->linha==$linha['permlink']?'style="color: black;"':''; ?>><?php echo $linha['titulo']; ?></a> 
  		<?php $x++; endforeach; ?>
	   </h2>
      <div class="clr"></div>
      <div class="left" style="height: 500px; overflow: auto; width:658px;">
      	<?php if (count($this->produtos)>0) : ?>
        <div class="clr"></div>
        <?php foreach($this->produtos as $kproduto => $grupo_produto) : ?>
        <div class="about">    
        	<?php $x=0; ?>    
        	<?php foreach($grupo_produto as $titulo_produto => $bloco_produto) : ?>
	        	<?php 
	        		if ($x>0) { 
	        			if ($kproduto<=0) {
	        				echo '</div><div class="about">'; 		
	        			} else { 
	        				echo '<br /><br />';
	        				$x=0;
	        			}
	        		}
					$x++;	        		
	          	?>
        	<table width="100%" class="tbprodutos">
        		<tr class="title">
        			<td colspan="10"><?php echo $titulo_produto; ?></td>
        		</tr>
        		<tr class="labels">
        			<th align="center"></th>
        			<th align="left">Embalagem</th>
        			<?php if (isset($this->auth->id_usuario)) : ?>
	        		<th align="center">C&oacute;digo</th>
	        		<th align="center">IVA %</th>
	        		<th align="center">IPI %</th>
	        		<th align="right">Valor L&iacute;quido</th>
	        		<th align="right">Valor Final</th>
	        		<th align="right">Valor Venda</th>
	        		<th width="90">Quantidade</th>
        			<?php else: ?>
	        		<th align="right">S. Venda</th>
	        		<?php endif; ?>
        		</tr>
        		<?php $c=0; foreach($bloco_produto as $produto) : ?>
        		<tr class="dados x<?php echo $c%2; ?>">
        			<td width="70" style="padding: 0px; margin: 0px;">
        			<?php if (!empty($produto['descricao'])): ?>
        				<div class="infoprod" id="infoprod<?php echo $produto['id_produto'];?>" style="display: none;" title="<?php echo $titulo_produto.' '.$produto['embalagem_titulo']; ?>"><?php echo html_entity_decode($produto['descricao']); ?></div>
        				<a href="<?php echo $produto['id_produto'];?>" class="btmodalprod tipT" title="Especifica&ccedil;&otilde;es T&eacute;cnicas do Produto">
	        				<img src="<?php echo $this->baseUrl('site_img/info.png')?>" style="vertical-align:middle" />
	        			</a>
        			<?php endif; ?>
					<?php if (!empty($produto['foto'])): ?>
						<a href="javascript:void(0);" class="tipR" title="<img src='<?php echo $this->baseUrl('imagem/show/i/'.$produto['foto'].'/p/produtos/a/300/l/300'); ?>' alt='Carregando....'/>">
        					<img src="<?php echo $this->baseUrl('site_img/camera-small-icon.png')?>" alt="Imagem do Produto" style="vertical-align:middle" />
						</a>
        			<?php endif; ?>
        			</td>
        			<td>
					<?php echo $produto['embalagem_titulo']; ?>
        			</td>
        			<?php if (isset($this->auth->id_usuario)) : ?>
	        		<td align="center"><?php echo $produto['codigo']; ?></td>
	        		<td align="center"><?php echo round($produto['iva'],2); ?></td>
	        		<td align="center"><?php echo round($produto['ipi'],2); ?></td>
	        		<td align="right">R$ <?php echo $produto['vlrliquido']; ?></td>
	        		<td align="right">R$ <?php echo $produto['vlrfinal']; ?></td>
	        		<td align="right">R$ <?php echo $produto['vlrmargem']; ?></td>
	        		<td align="center" class="tbaddcart">
	        			<input type="hidden" class="qtd_emb" value="<?php echo $produto['qtde_emb']; ?>" />
	        			<input type="text" size="3" maxlength="5" class="qtd" value="<?php echo $produto['quantidade']>0?$produto['quantidade']:''; ?>" />
	        			<a href="#atualizar_carrinho" class="btupdcart tipT" title="Atualizar Quantidade" rel="<?php echo $produto['id_produto']; ?>"><img src="<?php echo $this->baseUrl('site_img/car_refresh.png'); ?>" alt="Atualizar Quantidade" /></a>
	        		</td>
	        		<?php else: ?>
	        		<td align="right">R$ <?php echo $produto['vlrmargem']; ?></td>
	        		<?php endif; ?>
        		</tr>
        		<?php $c++; endforeach; ?>
        	</table>
        	<?php endforeach; ?>	
        </div>
		<?php endforeach; ?>
		<small style="float: right; color: #666">valores a prazo</small>
		<?php elseif (count($this->categorias)<=0): ?>
		<p class="leftupimg">Selecione uma Linha acima</p>
		<?php else: ?>
		<p class="leftimg">Selecione uma Categoria ao lado</p>
		<?php endif; ?>
      </div>
      <?php if (count($this->categorias)>0) : ?>
      <div class="right" style="width:230px;">
        <ul>
		<?php foreach($this->categorias as $categoria) : ?>
          <li><a href="<?php echo $this->baseUrl('produtos/'.$this->revenda['permlink'].'/'.$this->linha.'/'.$categoria['permlink']); ?>" <?php echo $this->categoria==$categoria['permlink']?'style="text-decoration: underline;"':''; ?>><?php echo $categoria['titulo']; ?></a></li>
		<?php endforeach; ?>
        </ul>
      </div>
      <?php endif; ?>
      <div class="clr"></div>
    </div>
  </div>