<script type="text/javascript">
function msgExcluir() {
	var msg = confirm("Deseja excluir esse cliente?"); 
	return msg;
}
$(document).ready(function(){

	$('#grupo').val("<?php echo $this->id_cliente_grupo; ?>");
	$('#revenda').val("<?php echo $this->id_produto_revenda; ?>");

    $('form.busca').submit(function(e){
        e.preventDefault();

		var key = $('#q').val();
		var cliente_grupo_id = $('#grupo').val();
		var revenda_id = $('#revenda').val();
		var base_url = "<?php echo $this->baseUrl('admin-cliente/pesquisar'); ?>";

		var param='';
		if (key!='') param+="/key/"+escape(key);
		if (cliente_grupo_id!='') param+="/grupo/"+cliente_grupo_id;
		if (revenda_id!='') param+="/revenda/"+revenda_id;

		window.location = base_url+param;
		
	});

});
</script>

	<!-- Page content -->
	<div id="page">
		<!-- Wrapper -->
		<div class="wrapper">

				<section class="column width8 first">					

					<h3>Clientes</h3>
					
					<hr/>
					<div id="filtro">
						<a href="<?php echo $this->baseUrl('admin-cliente/novo'); ?>" class="btn fl-left novo" style="position: absolute;"><span class="icon icon-add">&nbsp;</span>Novo</a>
						<form action="<?php echo $this->baseUrl('admin-cliente/pesquisar'); ?>" method="post" class="busca">
							<?php if ( !empty($this->key) || !empty($this->id_cliente_grupo) || !empty($this->id_produto_revenda) ) : ?>
							<a href="<?php echo $this->baseUrl('admin-cliente/pesquisar'); ?>" class="cancelkey"><img src="<?php echo $this->baseUrl('admin_img/cancel.png'); ?>" /></a>
							<?php endif; ?>
							<?php if (count($this->revendas)>0) : ?>
							<select id="revenda" name="revenda">
								<option value="">--- SELECIONE UMA REVENDA ---</option>
								<?php foreach($this->revendas as $revenda) : ?>
								<option value="<?php echo $revenda['id_produto_revenda']; ?>"><?php echo $revenda['titulo']; ?></option>
								<?php endforeach; ?>
							</select>
							<?php endif; ?>
							<?php if (count($this->grupos)>0) : ?>
							<select id="grupo" name="grupo">
								<option value="">--- SELECIONE UM GRUPO ---</option>
								<?php foreach($this->grupos as $grupo) : ?>
								<option value="<?php echo $grupo['id_cliente_grupo']; ?>"><?php echo $grupo['titulo']; ?></option>
								<?php endforeach; ?>
							</select>
							<?php endif; ?>
							<input class="key" type="text" id="q" name="key" value="<?php echo $this->key; ?>" />
							<input type="submit" id="btEnviar" value="Filtrar" />
						</form>
					</div>
					<div style="clear: both;"></div>
					
					<?php if (count($this->dados)>0) : ?>
					<table id="report" class="stylized full" style="">
						<thead>
							<tr>
								<th>Cidade-UF</th>
								<th>Raz&atilde;o Social</th>
								<th>E-mail</th>
								<th>Telefone</th>
								<th width="75" align="right">A&ccedil;&otilde;es</th>
							</tr>
						</thead>
						<tbody>
							<?php foreach($this->dados as $dados) :?>
							<tr>
								<td><?php echo $dados['cidade'].' - '.$dados['estado']; ?></td>
								<td><span class="<?php echo $dados['status_acesso']==1?'ativo':'inativo'; ?>"><?php echo $dados['razao_social']; ?></span></td>
								<td><?php echo $dados['email']; ?></td>
								<td><?php echo Porto80_Core::converteTelefone($dados['telefone_com']); ?></td>
								<td align="right">
									<?php if (!empty($dados['observacao'])) : ?>
									<img src="<?php echo $this->baseUrl('admin_img/comment-icon.png'); ?>" alt="" />
									<?php endif; ?>
									<a href="<?php echo $this->baseUrl('admin-cliente/visualizar/id/'.$dados['id_cliente']); ?>" title="Visualizar" class="nyroModal"><img src="<?php echo $this->baseUrl('admin_img/icons/action_openfolder.png'); ?>" /></a>
									<a href="<?php echo $this->baseUrl('admin-cliente/editar/id/'.$dados['id_cliente'].'/b/'.$this->keyfiltro); ?>" title="Editar"><img src="<?php echo $this->baseUrl('admin_img/icons/edit.gif'); ?>" /></a>
									<a href="<?php echo $this->baseUrl('admin-cliente/excluir/id/'.$dados['id_cliente'].'/b/'.$this->keyfiltro); ?>" title="Excluir" onclick="return msgExcluir();"><img src="<?php echo $this->baseUrl('admin_img/icons/action_delete.gif'); ?>" /></a>
								</td>
							</tr>
							<?php endforeach; ?>
						</tbody>
					</table>
					<div id="paginacao"><?php echo $this->paginationControl( $this->dados, 'Sliding', 'paginacao.phtml' ); ?></div>
					<?php else: ?>
					<div class="clr"></div>
					<h4>Nenhum registro encontrado.</h4>
					<?php endif; ?>
				</section>				
		</div>
		<!-- End of Wrapper -->
	</div>
	<!-- End of Page content -->