<script type="text/javascript">
$(document).ready(function(){

	/* setup navigation, content boxes, etc... */
	Funcoes.tinyMCE('<?php echo $this->baseUrl('js'); ?>','.tinymce');	

	/* MASCARAS */
	$("#cep").mask("99999-999");
	$("#telefone_fax").mask("(99) 9999-9999");
	$("#telefone_com").mask("(99) 9999-9999");
	$("#resp_cel").mask("(99) 9999-9999");
	
	var status_acesso = "<?php echo $this->dados['status_acesso']; ?>";
	$('#status_acesso').val(status_acesso);

});

</script>
	<!-- Page content -->
	<div id="page"> 
		<!-- Wrapper -->
		<div class="wrapper">
				<!-- Left column/section -->
				<section class="column width6 first">		

					<form id="clienteform" method="post" style="padding:16px;">
					
						<div class="box box-info">Todos os dados s&atilde;o <b>APENAS LEITURA</b></div>
						
						<fieldset>
							<legend>C&oacute;digo por Revenda</legend>					
							<?php foreach($this->revendas as $revenda) : ?>
							<p>
								<label class="" for=""><?php echo $revenda['titulo']; ?></label><br/>
								<input type="text" readonly="readonly" name="cliente_revenda[<?php echo $revenda['id_produto_revenda']; ?>]" value="<?php echo isset($this->clientes_revendas[$revenda['id_produto_revenda']])?$this->clientes_revendas[$revenda['id_produto_revenda']]:''; ?>" />
							</p>							
							<?php endforeach; ?>
						</fieldset>

						<fieldset>
							<legend>Dados Principais</legend>
							
							<label class="" for="">Grupos:</label><br/>
							<ul style="list-style:none; padding: 0px;" id="boxGrupos">
							<?php foreach($this->clientes_produtos as $clipro) :  ?>
								<li><?php echo $clipro['produto_linha']; ?> &rarr; <?php echo $clipro['cliente_grupo']; ?></li>
							<?php endforeach; ?>
							</ul>
							
							<p>
								<label class="" for="codigo">C&oacute;digo:</label><br/>
								<input type="text" class="" id="codigo" value="<?php echo $this->dados['codigo']!=''?sprintf("%06d",$this->dados['codigo']):''; ?>" name="codigo" maxlength="6" readonly="readonly" />
							</p>


							<p>
								<label class="" for="email">E-mail:</label><br/>
								<input type="text" id="email" class="half" value="<?php echo $this->dados['email']; ?>" name="email" maxlength="80" readonly="readonly" />
							</p>
							
							<p>
								<label class="" for="nome">Nome Fantasia:</label><br/>
								<input type="text" class="half" id="nome" value="<?php echo stripslashes($this->dados['nome']); ?>" name="nome" maxlength="100"  readonly="readonly" />
							</p>
							
							<p>
								<label class="" for="razao_social">Raz&atilde;o Social:</label><br/>
								<input type="text" class="half" id="razao_social" value="<?php echo stripslashes($this->dados['razao_social']); ?>" name="razao_social" maxlength="100"  readonly="readonly" />
							</p>
							
							<p>
								<label class="" for="cnpj">CNPJ:</label><br/>
								<input type="text" id="cnpj" class="half" value="<?php echo $this->dados['cnpj']; ?>" name="cnpj" maxlength="30"  readonly="readonly" />
							</p>
							
							<p>
								<label class="" for="ie">IE:</label><br/>
								<input type="text" id="ie" class="half" value="<?php echo $this->dados['ie']; ?>" name="ie" maxlength="30"  readonly="readonly" />
							</p>

						</fieldset>
						
						<fieldset>
							<legend>Informa&ccedil;&otilde;es de Contato</legend>
							
							<p>
								<label class="" for="cep">CEP:</label><br/>
								<input type="text" id="cep" class="" value="<?php echo $this->dados['cep']; ?>" name="cep" maxlength="9" size="10"  readonly="readonly" />
							</p>

							<p>
								<label class="" for="endereco">Endere&ccedil;o:</label><br/>
								<input type="text" class="full" id="endereco" value="<?php echo stripslashes($this->dados['endereco']); ?>" name="endereco" maxlength="150"  readonly="readonly" />
							</p>
							
							<p>
								<label for="bairro">Bairro:</label><br/>
								<input type="text" id="bairro" class="half" value="<?php echo stripslashes($this->dados['bairro']); ?>" name="bairro" maxlength="50"  readonly="readonly" />
							</p>
							
							<p>
								<label class="" for="cidade">Cidade:</label><br/>
								<input type="text" id="cidade" class="half" value="<?php echo stripslashes($this->dados['cidade']); ?>" name="cidade" maxlength="80"  readonly="readonly" />
							</p>
							
							<p>
								<label class="" for="estado">Estado (UF):</label><br/>
								<input type="text" id="estado" class="" value="<?php echo $this->dados['estado']; ?>" name="estado" maxlength="2" size="2" style="text-transform:uppercase;"  readonly="readonly" />
							</p>							
							
							<p>
								<label for="telefone_com">Telefone Comercial:</label><br/>
								<input type="text" id="telefone_com" class="" value="<?php echo $this->dados['telefone_com']; ?>" name="telefone_com" maxlength="14" size="15"  readonly="readonly" />
							</p>
							
							<p>
								<label for="telefone_fax">Telefone FAX:</label><br/>
								<input type="text" id="telefone_fax" class="" value="<?php echo $this->dados['telefone_fax']; ?>" name="telefone_fax" maxlength="14" size="15"  readonly="readonly" />
							</p>
							
							<p>
								<label for="responsavel">Respons&aacute;vel:</label><br/>
								<input type="text" id="responsavel" class="half" value="<?php echo stripslashes($this->dados['responsavel']); ?>" name="responsavel" maxlength="80"  readonly="readonly" />
							</p>
							
							<p>
								<label for="resp_cel">Telefone Celular:</label><br/>
								<input type="text" id="resp_cel" class="" value="<?php echo $this->dados['resp_cel']; ?>" name="resp_cel" maxlength="14" size="15"  readonly="readonly" />
							</p>

							<p>
								<label for="observacao">Observa&ccedil;&otilde;es:</label><br/>
								<textarea id="observacao" class="medium half tinymce" name="observacao"  readonly="readonly"><?php echo stripslashes($this->dados['observacao']); ?></textarea>
							</p>

						</fieldset>

						<p class="box"><a href="#" class="btn nyroModalClose">Fechar</a></p>			

					</form>
				
				</section>
				<!-- End of Left column/section -->
				
				<!-- Right column/section -->
				<aside class="column width2">
					<header>
					<h3>Imagem:</h3>
					</header>
						<div id="fotoBox">
							<?php if ($this->dados['foto']!='') :?>
								<img src="<?php echo $this->baseUrl('imagem/show/p/avatar/i/'.$this->dados['foto'].'/rc/200/'); ?>" alt="" />
							<?php else :?>
								<img src="<?php echo $this->baseUrl('imagem/show/rc/200/'); ?>" alt="" />
							<?php endif; ?>
						</div>
				</aside>
				<!-- End of Right column/section -->
				
		</div>
		<!-- End of Wrapper -->
	</div>
	<!-- End of Page content -->