<?php /*
<div class="left">
	 
	<h2>Anjo Qu&iacute;mica do Brasil</h2>
    <p style="text-align: justify;">Uma empresa fundada em abril de 1986, com responsabilidade social e ambiental, com produtos ecologicamente corretos, procurando dia a dia melhorar seus produtos dotando-os de tecnologia e inova&ccedil;&atilde;o. A Anjo &eacute; uma Empresa Certificada no Programa Brasileiro da Qualidade e Produtividade do Habitat (PBQB) da ABRAFIT - Associa&ccedil;&atilde;o Brasileira dos Fabricantes de Tintas e da TESIS - Tecnologia de Sistemas em Engenharia Ltda. Certificada ISO 9001 em 2002 e ISO 9002 em 1999. Produtos em conformidade com a NBR. Na sua estrutura de campo, possui uma equipe de promotoria t&eacute;cnica para os setores de Tintas Automotiva e Tintas Imobili&aacute;rias.</p>
	<div class="bg clr"></div>
	<iframe title="YouTube video player" width="600" height="368" src="http://www.youtube.com/embed/KlG809EE24M" frameborder="0" allowfullscreen></iframe>
	
</div>
<div class="right">
    <h2>Reconhecimentos e Pr&ecirc;mios</h2>
        <p style="text-align: justify;">A Anjo Tintas e Solventes foi reconhecida pela Revista Isto &eacute; Dinheiro, edi&ccedil;&atilde;o As Melhores da Dinheiro, como a empresa mais inovadora e com qualidade do setor qu&iacute;mico e petroqu&iacute;mico do Brasil e em segundo lugar em Responsabilidade Social e Meio Ambiente.</p>
        <div class="bg"></div>
        <p style="text-align: justify;">Pela Revista Exame, foi reconhecida como uma das trinta empresas brasileiras mais inovadoras.</p>
	<h2>Unidades</h2>
        <p style="text-align: center;">
        <img src="<?php echo $this->baseUrl('site_img/localizacao001.jpg'); ?>" alt="Anjo Tintas e Solventes Unidade I" />
        <img src="<?php echo $this->baseUrl('site_img/localizacao002.jpg'); ?>" alt="Anjo Tintas e Solventes Unidade II" />
        <img src="<?php echo $this->baseUrl('site_img/localizacao003.jpg'); ?>" alt="Anjo Tintas e Solventes Unidade IV - Linha Impress&atilde;o" />
        </p>
</div>
<div class="clr"></div>
*/ ?>