<script type="text/javascript">
$(document).ready(function(){

	var status = "<?php echo $this->dados['status']; ?>";
	var role = "<?php echo $this->dados['role']; ?>";
	$('#status').val(status);
	$('#role').val(role);

	// validate form on keyup and submit
	var validator = $("#usuarioform").validate({
		rules: { 
			usuario: "required",
			status: "required"
		},
		messages: {
			usuario: "Informe o Usuario",
			status: "Informe o Status de Acesso"
		},
		// the errorPlacement has to take the layout into account
		errorPlacement: function(error, element) {
			error.insertAfter(element.parent().find('label:first'));
		},
		// set new class to error-labels to indicate valid fields
		success: function(label) {
			// set &nbsp; as text for IE
			label.html("&nbsp;").addClass("ok");
		}
	});

});

</script>
	<!-- Page content -->
	<div id="page"> 
		<!-- Wrapper -->
		<div class="wrapper">

				<section class="column width8 first">					

					<h3></h3>
					
					<form id="usuarioform" method="post" action="<?php echo $this->baseUrl('admin-usuario/salvar/'); ?>" enctype="multipart/form-data">
						<input type="hidden" name="id_usuario" id="id_usuario" value="<?php echo $this->dados['id_usuario']; ?>" />
					
						<div class="box box-info"><label class="required">Campos obrigat&oacute;rios</label></div>
						
						<fieldset>
							<legend>Informa&ccedil;&otilde;es de Acesso</legend>
							
							<p>
								<label class="required" for="usuario">Usu&aacute;rio:</label><br/>
								<input type="text" id="usuario" class="title" value="<?php echo $this->dados['usuario']; ?>" maxlength="15" name="usuario"/>
							</p>
							<p>
								<?php if ($this->dados['id_usuario']==0) : ?>
								<label class="required" for="senha">Senha:</label><br/>
								<input type="password" id="senha" class="" value="" name="senha"/>								
								<?php else : ?>
								<label class="" for="nsenha">Nova Senha:</label><br/>
								<input type="password" id="nsenha" class="" value="" name="nsenha"/>
								<?php endif; ?>
							</p>
							<p>
								<label class="required" for="status">Perfil:</label><br/>
								<select name="role" id="role">
									<option value="admin">ADMIN</option>
									<option value="cliente">CLIENTE</option>
									<option value="vendedor">VENDEDOR</option>
								</select>
							</p>
							<p>
								<label class="required" for="status">Status de Acesso:</label><br/>
								<select name="status" id="status">
									<option value="0">BLOQUEADO</option>
									<option value="1">LIBERADO</option>
								</select>
							</p>

						</fieldset>
						
						<p class="box"><input type="submit" class="btn btn-<?php echo $this->temaColor; ?> big" value="Salvar"/> | <a href="<?php echo $this->baseUrl('admin-usuario/pesquisar'); ?>" class="btn">Cancelar</a></p>						

					</form>
				
				</section>

				
		</div>
		<!-- End of Wrapper -->
	</div>
	<!-- End of Page content -->