<script type="text/javascript">
function msgExcluir() {
	var msg = confirm("Deseja excluir esse usuario?"); 
	return msg;
}
$(document).ready(function(){

	var role = "<?php echo $this->uPerfil; ?>";
	$('#perfil').val(role);
	
	$("#q").keypress(function (e) {
		if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
			$(this).parents('form').submit();
			return false;
		} else {
			return true;
		}
    });

});
</script>

	<!-- Page content -->
	<div id="page">
		<!-- Wrapper -->
		<div class="wrapper">

				<section class="column width8 first">					

					<h3>
					
						Usu&aacute;rios
						
							<form id="frmPerfil" action="" method="post" style="display: inline;">
							<select id="perfil" name="perfil" style="float: right;" onchange="$('#frmPerfil').submit();">
								<option value="">--- SELECIONE UM PERFIL ---</option>
								<option value="admin">ADMIN</option>
								<option value="cliente">CLIENTE</option>
								<option value="vendedor">VENDEDOR</option>
							</select>
							</form>
						
					</h3>
					
					<hr/>
					<div id="filtro">
						<a href="<?php echo $this->baseUrl('admin-usuario/novo'); ?>" class="btn fl-left novo"><span class="icon icon-add">&nbsp;</span>Novo</a>
						<form action="<?php echo $this->baseUrl('admin-usuario/pesquisar'); ?>" method="post" class="busca">
							<input class="key" type="text" id="q" name="key" value="<?php echo $this->key; ?>" />
							<?php if ($this->key!='') : ?>
							<a href="<?php echo $this->baseUrl('admin-usuario/pesquisar'); ?>" class="cancelkey"><img src="<?php echo $this->baseUrl('admin_img/cancel.png'); ?>" /></a>
							<?php endif; ?>
						</form>
					</div>
					
					<?php if (count($this->dados)>0) : ?>
					<table id="report" class="stylized full" style="">
						<thead>
							<tr>
								<th>Usu&aacute;rio</th>
								<th>Perfil</th>
								<th width="60">A&ccedil;&atilde;es</th>
							</tr>
						</thead>
						<tbody>
							<?php foreach($this->dados as $dados) :?>
							<tr>
								<td><span class="<?php echo $dados['status']==1?'ativo':'inativo'; ?>"><?php echo $dados['usuario']; ?></span></td>
								<td><?php echo strtoupper($dados['role']); ?></td>
								<td>
									<a href="<?php echo $this->baseUrl('admin-usuario/editar/id/'.$dados['id_usuario']); ?>" title="Editar"><img src="<?php echo $this->baseUrl('admin_img/icons/edit.gif'); ?>" /></a>
									<a href="<?php echo $this->baseUrl('admin-usuario/excluir/id/'.$dados['id_usuario']); ?>" title="Excluir" onclick="return msgExcluir();"><img src="<?php echo $this->baseUrl('admin_img/icons/action_delete.gif'); ?>" /></a>
								</td>
							</tr>
							<?php endforeach; ?>
						</tbody>
					</table>
					<div id="paginacao"><?php echo $this->paginationControl( $this->dados, 'Sliding', 'paginacao.phtml' ); ?></div>
					<?php else: ?>
					<div class="clr"></div>
					<h4>Nenhum registro encontrado.</h4>
					<?php endif; ?>
				</section>				
		</div>
		<!-- End of Wrapper -->
	</div>
	<!-- End of Page content -->