<script type="text/javascript">
function msgExcluir() {
	var msg = confirm("Deseja excluir essa mensagem?"); 
	return msg;
}
$(document).ready(function(){
	$("#q").keypress(function (e) {
		if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
			$(this).parents('form').submit();
			return false;
		} else {
			return true;
		}
    });
	
});
</script>

	<!-- Page content -->
	<div id="page">
		<!-- Wrapper -->
		<div class="wrapper">

				<section class="column width8 first">					

					<h3>Mensagem de Contato</h3>
					
					<hr/>
					<div id="filtro">
						<form action="<?php echo $this->baseUrl('admin-contato/pesquisar'); ?>" method="post" class="busca">
							<input class="key" type="text" id="q" name="key" value="<?php echo $this->key; ?>" />
							<?php if ($this->key!='') : ?>
							<a href="<?php echo $this->baseUrl('admin-contato/pesquisar'); ?>" class="cancelkey"><img src="<?php echo $this->baseUrl('admin_img/cancel.png'); ?>" /></a>
							<?php endif; ?>
						</form>
					</div>
					
					<?php if (count($this->dados)>0) : ?>
					<table id="report" class="stylized full" style="">
						<thead>
							<tr>
								<th width="30">Status</th>
								<th>Remetente</th>
								<th>E-mail</th>
								<th>Telefone</th>
								<th>Data/Hora de Envio</th>
								<th width="30">A&ccedil;&atilde;es</th>
							</tr>
						</thead>
						<tbody>
							<?php foreach($this->dados as $dados) :?>
							<tr style="vertical-align: middle">
								<td>
									<?php 
										switch($dados['status']) {
											case 0: $icoMail='mail_new.png'; break;
											case 1: $icoMail='mail_read.png'; break;
											case 2: $icoMail='mail_reply.png'; break;
										}
									?>
									<img src="<?php echo $this->baseUrl('admin_img/icons/'.$icoMail); ?>" style="vertical-align: middle;" />	
								</td>
								<td><?php echo utf8_decode($dados['nome']); ?></td>
								<td><?php echo $dados['email']; ?></td>
								<td><?php echo $dados['telefone']; ?></td>
								<td><?php echo Porto80_Core::converteData($dados['data_envio']); ?></td>
								<td>
									<a href="<?php echo $this->baseUrl('admin-contato/visualizar/id/'.$dados['id_contato']); ?>" title="Visualizar"><img src="<?php echo $this->baseUrl('admin_img/icons/action_openfolder.png'); ?>" /></a>
									<a href="<?php echo $this->baseUrl('admin-contato/excluir/id/'.$dados['id_contato']); ?>" title="Excluir" onclick="return msgExcluir();"><img src="<?php echo $this->baseUrl('admin_img/icons/action_delete.gif'); ?>" /></a>
								</td>
							</tr>
							<?php endforeach; ?>
						</tbody>
					</table>
					<div id="paginacao"><?php echo $this->paginationControl( $this->dados, 'Sliding', 'paginacao.phtml' ); ?></div>
					<?php else: ?>
					<div class="clr"></div>
					<h4>Nenhum registro encontrado.</h4>
					<?php endif; ?>
				</section>				
		</div>
		<!-- End of Wrapper -->
	</div>
	<!-- End of Page content -->