
/* notifications */
#BoxAlert {
	position: fixed;
	right: 0px;
	top: 0px;
	padding:10px;
}
.strong {
	font-weight:bold!important;
}
.notification.success {
	background:#effeb9 url('../site_img/notifications/success.png') no-repeat 10px center;
	border-color:#98c700;
}
.notification.error {
	background:#fccac3 url('../site_img/notifications/error.png') no-repeat 10px center;
	border-color:#ea5338;
}
.notification.warning {
	background:#ffeaa7 url('../site_img/notifications/warning.png') no-repeat 10px center;
	border-color:#f9b418;
}
.notification.info {
	background:#d1e4f3 url('../site_img/notifications/info.png') no-repeat 10px center;
	border-color:#4d8fcc;
}
.notification.tip {
	background:#feeac9 url('../site_img/notifications/tip.png') no-repeat 10px center;
	border-color:#d38e49;
}
.notification {
	width: 450px;
	border-width:1px;
	border-style:solid;
	padding:17px 17px 17px 55px;
	margin-bottom:15px;
	-moz-border-radius:3px;
	-webkit-border:3px;
	border-radius:3px;
}
.notification .close {
	background:url("../site_img/notifications/close.png") no-repeat scroll 0 0 transparent;
	cursor:pointer;
	display:block;
	float:right;
	height:16px;
	margin-top:0px;
	opacity:0.7;
	width:16px;
}
.notification .close:hover {
	opacity:1;
}
