@charset "utf-8";
body { margin:0; padding:0; width:100%; background:#e9e9e9 url(../site_img/main_bg.gif) top center repeat-x;}
html { padding:0; margin:0;}
a { color: #737373 }
a img { border: 0px; }
.main { margin:0 auto;   background:#e9e9e9 url(../site_img/main_bg.gif) top center repeat-x; padding:0;}
.main2 { margin:0 auto;   background:#f0f0f0 url(../site_img/main_bg2.gif) top center repeat-x; padding:15px 0 0 0;}
.fli { float: left; padding-right: 20px; }
.fri { float: right; padding-left: 20px; }
/********** header **********/
.header {  padding:0; margin:0 auto; width:960px;}
.login { margin-top: 5px; position: absolute;}
.login a { font:10px Arial, Helvetica, sans-serif; color:#979797; text-transform: uppercase; text-decoration: none; }
.login a:hover { color: #000; text-decoration: underline; }
/* logo */
.logo {padding:0; margin:0; width:335px; float:left;}
/* rss */
.rss_img { text-align:left; font: bold 11px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#ababab; float:left; margin:15px 0; padding:3px; background:#3f3f3f; border-bottom:1px solid #0e0e0e; border-top:1px solid #535353; border-right:1px solid #101010; border-left:1px solid #535353;}
.rss_img p { float:left; padding:0 5px 0 0; margin:0;}
.rss_img img { margin:0 3px; padding:0;}
/*form_login*/
.form_login { height: 25px; text-align:left; font: bold 11px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#ababab; float:left; margin:10px 0px; padding:3px; background:#3f3f3f; border-bottom:1px solid #0e0e0e; border-top:1px solid #535353; border-right:1px solid #101010; border-left:1px solid #535353;}
.form_login p { float:left; padding:0px 5px 0 0; margin:0;}
.form_login .text { width:80px; height:16px; padding: 2px; margin:0; font:normal 11px Arial, Helvetica, sans-serif; color:#777; border: 1px solid #777; background-color: #3f3f3f; }
/*menu*/
.menu { padding:0; margin:0; float:right; width:620px;}
.menu ul { text-align: left;  padding:30px 0 0 0; margin:0; list-style:none; border:0; float:right;}
.menu ul li { float:left; margin:0; padding:13px 5px; border:0; }
.menu ul li a { float:left; margin:0; padding:13px 0 13px 0; color:#1e1e1e; text-decoration:none; font:bold 14px "Trebuchet MS", Arial, Helvetica, sans-serif; }
.menu ul li a span { padding:13px 10px; background:none; }
.menu ul li a:hover { color:#fff; background: url(../site_img/r_menu.gif) no-repeat right; }
.menu ul li a:hover span {color:#fff; background:url(../site_img/l_menu.gif) no-repeat left; }
.menu ul li a.active { color:#fff;  background:url(../site_img/r_menu.gif) no-repeat right; }
.menu ul li a.active span { color:#fff; background:url(../site_img/l_menu.gif) no-repeat left; }
/* search */
.search { padding:15px 0 0 0; margin:0; width:230px; float:right;}
.search form { display:block; float:right; padding:0;}
.search span { display:block; float:left; background: url(../site_img/search_bg.gif) left top no-repeat; width:146px; padding:0; height:24px;}
.search form .keywords { width:179px; line-height:14px;  float:left; background:none; border:0; padding:5px 2px 0 10px; margin:0; font:normal 11px Arial, Helvetica, sans-serif; color:#777;}
.search form .button { float:left; margin:0; padding:0;}
/* click_blog */
.click_blog { width:960px; margin:0 auto; padding:20px 0; background:url(../site_img/slot_bg.gif) top no-repeat;}
.click_blog p { font: normal 18px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#737373; width:710px; float:left; padding:0; margin:0;}
.click_blog p span { font: normal 11px Arial, Helvetica, sans-serif; color:#979797;}
.click_blog img { float:right; margin:0; padding:0;}

.title_blog { width:960px; margin:0 auto; padding:20px 0; background:url(../site_img/slot_bg.gif) top no-repeat; }
.title_blog p { font: normal 18px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#737373; padding:0; margin:0; text-align: center;}
.title_blog p span { font: normal 12px Arial, Helvetica, sans-serif; color:#979797;}

.boxlink a { font: normal 12px Arial, Helvetica, sans-serif; color:#979797; }
/* FBG */
.FBG {  padding:0; margin:0; background:#e9e9e9;}
.FBG_resize { width:910px; margin:0 auto; padding:0;}
.FBG_resize img { float:left; margin:0; padding:0;}
.FBG_resize a { color:#a2565e; text-decoration:none; }
.FBG_resize h2 { font: normal 18px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#504f4f; padding:10px 0; margin:0;}
.FBG_resize p {font: normal 11px Arial, Helvetica, sans-serif; color:#919191; padding:5px 0; margin:0; line-height:1.8em;}
.FBG_resize ul { padding:0; margin:0; list-style:none;}
.FBG_resize li { padding:5px 0; margin:0; }
.FBG_resize li a { font: normal 11px Arial, Helvetica, sans-serif; color:#aeaeae; padding:5px 0 5px 0; margin:0;text-decoration:none;}
.FBG_resize li a:hover { color:#8c8c8c; text-decoration: underline;}
.FBG_resize .blog { width:205px; float:left; margin:0; padding:20px 30px 20px 0;}
.FBG_resize .last { padding:20px 0;}
/* CARRINHO */
#carrinho { position:absolute; font: 12px "verdana"; width:955px; margin:0 auto; padding:0; padding-top: 8px; text-align: right; }
#carrinho a img { border: none; vertical-align:middle; }
#carrinho a { text-decoration: none; float: right; }
#carrinho a:hover { color: #a2565e; text-decoration: none; }
a.addcart {
	margin: -10px;
	float: right;
}
/* body */
.body_resize { width:910px; margin:0 auto; padding:20px 25px; background:#fff;}
.body { padding:0; margin:0 auto;}
.body h2 { font: normal 24px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#494848; padding:10px 0; margin:0 0 10px 0; border-bottom:1px solid #dfdfdf;}
.body h2 span { font: normal 11px Arial, Helvetica, sans-serif; color:#b7b7b7; padding:0; margin:0;}
.body h3 { color:#4f4f4f; font: bold 24px "Trebuchet MS", Arial, Helvetica, sans-serif; border-bottom:1px solid #dbdbdb; padding:15px 0 15px 20px; margin:0; }
.body h4 { font: bold 18px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#2a2a2a; padding:5px 0; margin:0; border-bottom:none;}
.body .menu2 { width:170px; float:right; padding:0; margin:0;}
.body .menu2 a { font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif; color:#5d5d5d; text-decoration:none; padding:0 3px;}
.body .menu2 a:hover { color:#fff; background:#363636;}
.body p.about, .body div.about { background:#e6e6e6; border-left:5px solid #cdcdcd; padding:20px; margin:15px 0; font: italic 12px Arial, Helvetica, sans-serif; color:#747474;}
.body p { font:normal 12px Arial, Helvetica, sans-serif; color:#868686; line-height:1.8em; padding:5px 0; margin:0;}
.body p span { font-size:18px; font-weight:bold; color:#888;}
.body div.about p { padding: 0px; margin: 0px; }
.body div.about b.title { display:block; font-size: 15px;}
.body a { color:#912731; text-decoration:none;}
.body img { margin:5px auto; padding:0; padding:0;}
.body img.link { margin:5px auto; padding:0; text-align:center;}
.right {  width:289px; margin:0; padding:10px 0; float:right;}
.right ul { margin:0; padding:0; list-style:none;}
.right li { border-bottom:1px solid #dfdfdf; padding:5px 0 5px 15px; margin:0; background:url(../site_img/r_ul_li.gif) left no-repeat; font: normal 12px Arial, Helvetica, sans-serif; color:#747474;}
.right li.space { background: none; }
.right li.igual { background: none; }
.right li.mais { background: none; }
.right li a { font: normal 12px Arial, Helvetica, sans-serif; color:#747474; text-decoration:none;}
.right li a:hover { color:#912731; text-decoration:underline;}
.left { width:599px; margin:0; padding:10px 0; float:left;}
.port { width:290px; margin:10px 0; padding:0 20px 0 0; float:left;}
.last { padding:0;}
/********** contact form **********/
#formDados { margin:0; padding:5px 10px; }
#formDados * { color:#F00; } 
#formDados ol { margin:0; padding:0; list-style:none; }
#formDados li { margin:0; padding:0; background:none; border:none; display:block; clear:both; }
#formDados li.buttons { margin:5px 0 5px 0; clear:both; }
#formDados label { margin:0; width:200px; display:block; padding:5px 10px; color:#868686; font: normal 12px Arial, Helvetica, sans-serif;  float:left; }
#formDados label.required { background: url(../site_img/required.png) left center no-repeat; }
#formDados label.error { float: right; color: #f00; }
#formDados input.error { border-color: #f00; }
#formDados label span { color:#d66423; font-weight:bold; }
#formDados input.text { width:250px; border:1px solid #d4d4d4; margin:2px 0; padding:5px 2px; height:16px; background:#fff; float:left; }
#formDados textarea { width:250px; border:1px solid #d4d4d4; margin:2px 0; padding:2px; background:#fff; float:left; }
#formDados li.buttons input { padding:3px 0 3px 0; margin:10px 0 0 0; border:0; color:#FFF; float:left; }
/*************footer**********/
.footer {padding:0;  margin:0 auto; background:#e9e9e9;}
.footer_resize { width:960px; margin:0 auto; padding:10px 0; background:url(../site_img/footer_bg.gif) top center no-repeat;}
.footer p { font:normal 12px  Arial, Helvetica, sans-serif; color:#979797;}
.footer a { font:bold 12px Arial, Helvetica, sans-serif; color:#979797; text-decoration:none; }
.footer p.right { text-align:right; width:350px; margin:0; padding:15px 0; float:right;} 
.footer p.leftt { text-align:left; width:550px; margin:0; padding:15px 0; float:left;}

p.clr, .clr { clear:both; padding:0; margin:0; background:none;}
.bg { clear:both; padding:5px 0; margin:0; border-bottom:1px solid #dfdfdf;}
/* Slider */
#slider { width:960px; padding:0; margin:0 auto; }
#slider .flash_slider { width:960px; height:350px; margin:0; overflow:hidden;}

.title_tip { font-size: 12px; float: right; padding-top: 15px; }

/* EMPRESAS */
.boxconteudo {
	display: none;
}

p.leftupimg, p.leftimg { 
	margin: 0 auto; 
	float: left;
	padding-right: 20px;
	margin-right: 200px;
	font: 11px verdana;
	text-transform: uppercase;
}
p.leftupimg { 	background: url(../site_img/left-up.png) no-repeat right center; }
p.leftimg { 	background: url(../site_img/left.png) no-repeat right center; }
.tbaddcart, .tbupdcart {
		
}
.tbaddcart input,
.tbupdcart input {
	border: 1px dotted #888;
	vertical-align: middle;
}
.tbaddcart img,
.tbupdcart img {
	vertical-align: middle;
}
.tbprodutos {
	
}
.tbprodutos .title {
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
}
.tbprodutos .title td {
	padding-bottom: 5px;
}
.tbprodutos .labels th {
	border-bottom: 1px dotted #000;	
}
.tbprodutos .labelsf th {
	border-top: 1px dotted #000;	
}
.tbprodutos .dados td {
		padding: 5px;
}	
.tbprodutos .x0 {
	background-color: #f4f4f4;	
}
.tbprodutos .x1 {
	background-color: none;
}

.ui-effects-transfer { border: 1px dotted gray; background-image: url(../site_img/car.png); background-color: #fff; padding: 5px; background-position: center center; background-repeat: no-repeat; } 

.boxPedidoAct {
	float: right;
	margin-top: 5px;	
}
.boxPedidoAct select {
	padding: 5px;
	text-transform: uppercase;
	font-size: 12px;
}