<script type="text/javascript">
// <![CDATA[
$(document).ready(function(){

	var ano = "<?php echo $this->ano; ?>";
	var mes = "<?php echo $this->mes; ?>";
	var rev = "<?php echo $this->rev; ?>";
	$('#ano').val(ano);
	$('#mes').val(mes);
	$('#revenda').val(rev);

	var mudaData = function() {

		var ano = $('#ano').val();
		var mes = $('#mes').val();
		var rev = $('#revenda').val();

		var url = "<?php echo $this->baseUrl('pedidos/exibir'); ?>/m/"+mes+"/a/"+ano+"/rev/"+rev;
		window.location=url;

	};

	$('#ano, #mes, #revenda').bind('change',function(){ mudaData(); });
	

});
// ]]>
</script>
  <div class="body">
    <div class="body_resize">
      <div class="clr"></div>
      	<div class="boxPedidoAct">
      		<select id="revenda">
      			<?php foreach ($this->revendas as $revenda) : ?>
      			<option <?php echo $this->revenda['permlink']==$revenda['permlink']?'selected':''; ?> value="<?php echo $revenda['permlink']; ?>"><?php echo $revenda['titulo']; ?></option>
      			<?php endforeach; ?>
      		</select>
      		<select id="mes">
      			<option value="1">Janeiro</option>
      			<option value="2">Fevereiro</option>
      			<option value="3">Mar&ccedil;o</option>
      			<option value="4">Abril</option>
      			<option value="5">Maio</option>
      			<option value="6">Junho</option>
      			<option value="7">Julho</option>
      			<option value="8">Agosto</option>
      			<option value="9">Setembro</option>      			
      			<option value="10">Outubro</option>
      			<option value="11">Novembro</option>
      			<option value="12">Dezembro</option>
      		</select>
      		<select id="ano">
      			<?php foreach($this->anos_validos as $ano) : ?>
      			<option value="<?php echo $ano['ano'];?>"><?php echo $ano['ano'];?></option>
      			<?php endforeach; ?>
      		</select>
      	</div>
        <h2>Meus Pedidos</h2>
        
        <div class="clr"></div>
        <?php foreach($this->pedidos as $pedido) : ?>
        <div class="about">
        	<?php $totalProdutos = count($pedido['produtos']); ?>
        	<?php //STATUS
				switch($pedido['status']) {
					default:
					case 1: $pedido_status='PENDENTE'; break;
					case 1: $pedido_status='EXCLUIDO';break;
					case 3: $pedido_status='DIGITADO A FATURAR';break;
					case 4: $pedido_status='FATURADO PARCIAL';break;
					case 5: $pedido_status='FATURADO INTEGRAL';break;
				}
			?>
        	<b class="title">PEDIDO #<?php echo $pedido['id_pedido']; ?> <small><?php echo $pedido_status; ?></small> - <?php echo $totalProdutos . ($totalProdutos>1?' Produtos':' Produto'); ?> - <small><?php echo ($pedido['tipo_pag']=='VISTA'?'&agrave; vista':'a prazo'); ?></small>
        	<span style="float: right">Enviado em: <?php echo Porto80_Core::formatEventoData($pedido['datahora']); ?></span></b>
        	<?php if (count($pedido['produtos'])>0) : ?>
        	<table width="100%" class="tbprodutos">
        		<tr class="labels">
        			<th align="left">Quantidade</th>
        			<th align="left">Produto</th>
	        		<th align="right">Vlr L&iacute;quido</th>
	        		<th align="right">Vlr Unit&aacute;rio</th>
	        		<th align="right">Vlr Total</th>
        		</tr>
        		<?php $c=$totalqtd=$totalvlrliq=$totalvlruni=$totalgeral=0;
        		foreach($pedido['produtos'] as $produto) : ?>
        		<tr class="dados x<?php echo $c%2; ?>">
        			<td>
        		    <?php if (!empty($produto['foto'])): ?>
        			<a href="javascript:void(0);" class="tipR" title="<img src='<?php echo $this->baseUrl('imagem/show/i/'.$produto['foto'].'/p/produtos/a/300/l/300')?>' >" style="position: absolute; margin-left: -37px; margin-top: -13px;"><img src="<?php echo $this->baseUrl('site_img/camera-small-icon.png')?>" alt="Imagem do Produto" /></a>
        			<?php endif; ?>
        			<?php echo $produto['quantidade']; ?>
	        		</td>
	        		<td align="left"><?php echo $produto['titulo'].' '.$produto['embalagem']; ?></td>
	        		<td align="right"><?php echo Porto80_Core::converteFloat($produto['valor_liquido'],2); ?></td>
	        		<td align="right"><?php echo Porto80_Core::converteFloat($produto['valor_unitario'],2); ?></td>
	        		<td align="right"><?php echo Porto80_Core::converteFloat(($produto['quantidade']*$produto['valor_unitario']),2); ?></td>
        		</tr>
        		<?php 
        		$c++;
        		$totalqtd =  $totalqtd + $produto['quantidade'];
        		$totalvlrliq = $totalvlrliq + $produto['valor_liquido'];
        		$totalvlruni = $totalvlruni + $produto['valor_unitario'];
        		$totalgeral = $totalgeral + ($produto['quantidade']*$produto['valor_unitario']);
        		endforeach; ?>
        		<tr class="labelsf">
        			<th align="left"><?php echo $totalqtd; ?></th>
        			<th align="left">&nbsp;</th>
	        		<th align="right"><?php echo Porto80_Core::converteFloat($totalvlrliq,2); ?></th>
	        		<th align="right"><?php echo Porto80_Core::converteFloat($totalvlruni,2); ?></th>
	        		<th align="right"><?php echo Porto80_Core::converteFloat($totalgeral,2); ?></th>
        		</tr>
        	</table>
        	<?php else : ?>
        	<h4>N&atilde;o h&aacute; produtos nesse pedido!</h4>
        	<?php endif; ?>
        </div>
		<?php endforeach; ?>
		<?php if (count($this->pedidos)==0) : ?>
		<h2>N&atilde;o h&aacute; pedidos para o m&ecirc;s <?php echo $this->mes; ?> de <?php echo $this->ano; ?></h2>
		<?php endif; ?>
		<div class="clr"></div>
    </div>
  </div>
  