<script type="text/javascript">
// <![CDATA[
jQuery(document).ready(function(){
	$('#formDados').submit(function(e){
		e.preventDefault();
		var action = $(this).attr('action');
		$.post(action, { 
			name: $('#name').val(),
			email: $('#email').val(),
			company: $('#company').val(),
			message: $('#message').val()
		},
		function(data){
			var jsonData = jQuery.parseJSON(data);
			$('.response').remove();
			$('#formDados').before('<p class="response">'+unescape(jsonData.mensagem)+'</p>');
			$('.response').slideDown();
			if(jsonData.status==1) {
				$('#formDados').slideUp();
			}
		}); 
		return false;
	});
});
// ]]>
</script>
  <div class="body">
    <div class="body_resize">
      <div class="clr"></div>
      <div class="left">
        <h2>Envie sua mensagem<br />
          <span>Preencha o formul&aacute;rio abaixo e envie sua mensagem, responderemos o mais breve poss&iacute;vel.</span> </h2>
        <form action="<?php echo $this->baseUrl('contato/enviar'); ?>" method="post" id="formDados">
          <ol>
            <li>
              <label for="name">Seu nome</label>
              <input id="name" name="name" class="text" />
            </li>
            <li>
              <label for="email">Seu E-mail</label>
              <input id="email" name="email" class="text" />
            </li>
            <li>
              <label for="empresa">Empresa</label>
              <input id="empresa" name="empresa" class="text" />
            </li>
            <li>
              <label for="telefone">Telefone</label>
              <input id="company" name="telefone" class="text" />
            </li>
            <li>
              <label for="message">Mensagem</label>
              <textarea id="message" name="message" rows="6" cols="50"></textarea>
            </li>
            <li class="buttons">
              <input type="image" name="imageField" id="imageField" src="<?php echo $this->baseUrl('site_img'); ?>/send.gif" class="send" />
              <div class="clr"></div>
            </li>
          </ol>
        </form>
        <p><b>Hor&aacute;rio de atendimento:</b> Segunda a Sexta, 8:00 &agrave;s 11:30 e 13:30 &agrave;s 18:00</p>
      </div>
      <div class="right">
        <h2>Dados para contato<br />
          <span>Outras formas de entrar em contato conosco</span> </h2>
        <p>
          <b>Telefone:</b> <?php echo $this->contato['param_telefone']; ?><br />
          <b>Fax:</b> <?php echo $this->contato['param_fax']; ?><br />
          <b>E-mail:</b> <?php echo $this->contato['param_email_publico']; ?><br />
        </p>
        <p><b>Escrit&oacute;rio:</b><br /><?php echo $this->contato['param_endereco']; ?></p>
          <a href="<?php echo $this->contato['param_mapa_google']; ?>" target="_blank"><img src="<?php echo $this->baseUrl('site_img'); ?>/map.jpg" alt="picture" width="287" height="173" /></a>
		</div>
      <div class="clr"></div>
    </div>
  </div>