  <div class="body">
    <div class="body_resize">
      <div class="left">
		<?php if (!empty($this->noticia)): ?>
	        <h2>
				<div class="fri" style="font-size: 16px;"><a href="<?php echo $this->baseUrl('noticias/'.$this->noticia['id_noticia_categoria']); ?>"><?php echo $this->dados_categoria['titulo']; ?></a></div>
	        	<?php echo $this->noticias['titulo']; ?>
	        </h2>
	        <div class="clr"></div>
	        <div class="">
	        	<p>
		        	<i style="float: right;"><?php echo Porto80_Core::formatEventoData($this->noticias['data']); ?></i>
		        	<i style="float: left;">por <?php echo $this->noticias['autor']; ?></i>
		        	<div style="clear: both"></div>
	        	</p>
	        	<p style="text-align: justify;">
	        		<?php echo html_entity_decode($this->noticias['texto']); ?>
	        	</p>
	        	<?php if (!empty($this->noticias['fonte'])) : ?>
	        	<p style="text-align: right;">
	        		<b>Fonte: </b><?php echo $this->noticias['fonte']; ?>
	        	</p>
	        	<?php endif; ?>
	        </div>
		<?php elseif (count($this->noticias)>0) : ?>
			<h2>
			<?php if (!empty($this->categoria)) : ?>
				<?php echo $this->dados_categoria['titulo']; ?>
			<?php else: ?>
				&Uacute;ltimas Not&iacute;cias
			<?php endif;?>
			</h2>
			<div class="clr"></div>
	        <?php foreach($this->noticias as $noticia) : ?>
	        <div class="about"><b class="title">
	        	<a href="<?php echo $this->baseUrl('noticias/'.$noticia['noticia_categoria_perm_link'].'/'.$noticia['perm_link']); ?>">
	        	<?php echo $noticia['titulo']; ?><span style="float: right; font-size: 12px;"><?php echo Porto80_Core::formatEventoData($noticia['data']); ?></span>
	        	</a>
	        </b></div>
			<?php endforeach; ?>
        <?php else: ?>
			<p class="leftimg">Selecione uma cidade ao lado</p>
		<?php endif;?>
      </div>
      <?php if (count($this->categorias)>0) : ?>
      <div class="right">
      	<h2>Categorias</h2>
        <ul>
        <li><a href="<?php echo $this->baseUrl('noticias'); ?>" <?php echo empty($this->categoria)?'style="text-decoration: underline;"':''; ?>>&Uacute;ltimas Not&iacute;cias</a></li>
		<?php foreach($this->categorias as $categoria) : ?>
          <li><a href="<?php echo $this->baseUrl('noticias/'.$categoria['perm_link']); ?>" <?php echo $this->categoria==$categoria['perm_link']?'style="text-decoration: underline;"':''; ?>><?php echo $categoria['titulo']; ?></a></li>
		<?php endforeach; ?>
        </ul>
      </div>
      <?php endif; ?>
      <div class="clr"></div>
    </div>
  </div>