	<div id="page">
			<div id="loginBox">
				<h3>Painel :: Login</h3>			
				<form id="loginform" method="post" action="<?php echo $this->baseUrl('login/validar'); ?>">
					<input type="hidden" id="redirect" value="<?php echo $this->baseUrl(''); ?>" />
					<div id="login-block"></div>
					<p>
						<label class="required" for="username">Usu&aacute;ro:</label><br/>
						<input type="text" id="username" class="title full" value="" name="username"/>
					</p>
					
					<p>
						<label class="required" for="password">Senha:</label><br/>
						<input type="password" id="password" class="title full" value="" name="password"/>
					</p>
					
					<p>
						<input type="submit" class="btn btn-<?php echo $this->temaColor; ?> big" value="Login"/>
					</p>
					<div class="clear">&nbsp;</div>

				</form>
			</div>				
	</div>