  <div class="body">
    <div class="body_resize">
      <div class="left">
		<?php if (count($this->clientes)>0) : ?>
        <h2>
			<div class="fri"><a href="<?php echo $this->baseUrl('onde-encontro/'.$this->revenda['permlink']); ?>" title="<?php echo $this->revenda['titulo']; ?>"><img src="<?php echo $this->baseUrl('imagem/show/i/'.$this->revenda['logotipo'].'/p/revenda/a/32/l/100')?>" alt="<?php echo $this->revenda['titulo']; ?>" /></a></div>
        	<?php echo $this->cidade; ?>
        </h2>
        <div class="clr"></div>
        <?php foreach($this->clientes as $cliente) : ?>
        <div class="about"><b class="title"><?php echo $cliente['nome']; ?><span style="float: right;"><?php echo Porto80_Core::converteTelefone($cliente['telefone_com']); ?></span></b>
        	<?php if (!empty($cliente['foto'])): ?>
        	<a href="javascript:void(0);" class="tipR" title="<img src='<?php echo $this->baseUrl('imagem/show/i/'.$cliente['foto'].'/p/produtos/a/300/l/300')?>' >" style="position: absolute; margin-left: -37px; margin-top: -13px;"><img src="<?php echo $this->baseUrl('site_img/camera-small-icon.png')?>" alt="Imagem do Cliente" /></a>
        	<?php endif; ?>
        	<?php echo html_entity_decode($cliente['endereco'].'<br />'.$cliente['bairro'].' - CEP '.$cliente['cep'].'', ENT_NOQUOTES); ?>
        	<span style="float: right;"><?php echo $cliente['emailpublico']; ?></span>
        </div>
		<?php endforeach; ?>
		<?php else: ?>
		<div class="fri"><a href="<?php echo $this->baseUrl('onde-encontro/'.$this->revenda['permlink']); ?>" title="<?php echo $this->revenda['titulo']; ?>"><img src="<?php echo $this->baseUrl('imagem/show/i/'.$this->revenda['logotipo'].'/p/revenda/a/32/l/100')?>" alt="<?php echo $this->revenda['titulo']; ?>" /></a></div>
		<p class="leftimg">Selecione uma cidade ao lado</p>
		<?php endif; ?>
      </div>
      <?php if (count($this->cidades)>0) : ?>
      <div class="right">
        <ul>
		<?php foreach($this->cidades as $cidade) : ?>
          <li><a href="<?php echo $this->baseUrl('onde-encontro/'.$this->revenda['permlink'].'/'.$cidade['estado'].'/'.rawurlencode(stripslashes($cidade['cidade']))); ?>" <?php echo $this->estado==$cidade['estado'] && $this->cidade==$cidade['cidade']?'style="text-decoration: underline;"':''; ?>><?php echo $cidade['cidadeuf']; ?></a></li>
		<?php endforeach; ?>
        </ul>
      </div>
      <?php endif; ?>
      <div class="clr"></div>
    </div>
  </div>