  <div class="body">
    <div class="body_resize">
	  <h2 style="text-align: center">
  		<?php $x=0; foreach ($this->revendas as $revenda) : ?>
  			<?php if ($x>0) echo '&nbsp;|&nbsp;'; ?>
  				<a href="<?php echo $this->baseUrl('onde-encontro/'.$revenda['permlink']); ?>" title="<?php echo $revenda['titulo']; ?>">
  					<img src="<?php echo $this->baseUrl('imagem/show/i/'.$revenda['logotipo'].'/p/revenda/a/300/l/300')?>" alt="<?php echo $revenda['titulo']; ?>" />
  				</a> 
  		<?php $x++; endforeach; ?>
	   </h2>
      <div class="clr"></div>
    </div>
  </div>