<script type="text/javascript">
function IsNumeric(strString)
	//check for valid numeric strings	
	{
	var strValidChars = "0123456789,";
	var strChar;
	var blnResult = true;
	
	if (strString.length == 0) return false;
	
	//test strString consists of valid characters listed above
	for (i = 0; i < strString.length && blnResult == true; i++)
	{
		strChar = strString.charAt(i);
		if (strValidChars.indexOf(strChar) == -1)
		{
			blnResult = false;
		}
	}
	return blnResult;
}


function msgExcluir() {
	var msg = confirm("Deseja excluir esse produto?"); 
	return msg;
}
$(document).ready(function(){

	$('#categoria').val("<?php echo $this->id_produto_categoria; ?>");
	$('#cliente').val("<?php echo $this->id_cliente; ?>");
	$('#revenda').val("<?php echo $this->id_produto_revenda; ?>");
	$('#revenda').bind('change',function(){
		$('form.busca').submit();
	});

    $('form.busca').submit(function(e){
        e.preventDefault();

		var categoria_id = $('#categoria').val();
		var cliente_id = $('#cliente').val();
		var revenda_id = $('#revenda').val();
		var base_url = "<?php echo $this->baseUrl('admin-produto-relatorio/pesquisar'); ?>";

		if (categoria_id=='' && revenda_id=='') {
			alert("Selecione uma categoria!");
			$('#categoria').focus();
			return;	
		}

		var param='';
		if (categoria_id!='') param+="/categoria/"+categoria_id;
		if (cliente_id!='') param+="/cliente/"+cliente_id;
		if (revenda_id!='') param+="/revenda/"+revenda_id;
	
		window.location = base_url+param;

	});


	$('.btSalvarProduto').bind('click',function(e){
		e.preventDefault();
		valido=true;

		//VALIDANDO CAMPOS
		$.each( $('.inputnum'), function(i,o){
			if (IsNumeric($(o).val())==false) {
				valido=false;
				alert('ATENCAO!!! O VALOR '+$(o).val()+' NAO E NUMERICO, POR FAVOR AJUSTE E TENTE NOVAMENTE! (use somente numeros e virgula)');
				$(o).focus();
			}
		});

		if (valido==true) {
			var $tr = $(this).parents('tr:first');
			var $form = $tr.find('form:first');
			
			$.ajax({
			  type: "POST",
			  dataType: 'json',
			  url: $form.attr('action'),
			  data: $form.serialize(),
			  success: function(ret){
				if (ret.status==1) {
					$tr.find('td').fadeOut('fast',function(){
						$tr.find('td.txtvlliquido').html('R$ '+ret.dados.vlliquido);
						$tr.find('td.txtvlfinal').html('R$ '+ret.dados.vlfinal);
						$tr.find('td.txtvlmargem').html('R$ '+ret.dados.vlmargem);
						$tr.find('td').fadeIn();						
					});
					//alert($tr.find('td.txtvlliquido').html());
					//alert('Produto salvo com sucesso!');					
				} else {
					alert('Erro ao atualizar produto! Tente novamente, se o problema persistir entre em contato com o Suporte.');
				}
			  }
			});
		}
		
	});
	
});
</script>

	<!-- Page content -->
	<div id="page">
		<!-- Wrapper -->
		<div class="wrapper">

				<section class="column width8 first">					

					<h3>Relat&oacute;rio de Produtos
					
							<?php if (count($this->revendas)>0) : ?>
							<select id="revenda" name="revenda" style="float: right;">
								<option value="">--- SELECIONE UMA REVENDA ---</option>
								<?php foreach($this->revendas as $revenda) : ?>
								<option value="<?php echo $revenda['id_produto_revenda']; ?>"><?php echo $revenda['titulo']; ?></option>
								<?php endforeach; ?>
							</select>
							<?php endif; ?>
					
					</h3>
					
					<hr/>
					<div id="filtro">
						<form action="<?php echo $this->baseUrl('admin-produto-relatorio/pesquisar'); ?>" method="post" class="busca">
							<?php if (!empty($this->id_produto_categoria) || !empty($this->id_cliente)) : ?>
							<a href="<?php echo $this->baseUrl('admin-produto-relatorio/pesquisar'); ?>" class="cancelkey"><img src="<?php echo $this->baseUrl('admin_img/cancel.png'); ?>" /></a>
							<?php endif; ?>							
							
							<select id="categoria" name="categoria">
								<option value="">--- SELECIONE UMA CATEGORIA ---</option>
								<?php foreach($this->categorias as $grupo_categoria => $categorias) : ?>
								<optgroup label="<?php echo $grupo_categoria; ?>">
									<?php foreach($categorias as $categoria) : ?>
									<option value="<?php echo $categoria['id_produto_categoria']; ?>"><?php echo $categoria['titulo']; ?></option>
									<?php endforeach; ?>
								</optgroup>
								<?php endforeach; ?>
							</select>
							
							<select id="cliente" name="cliente">
								<option value="">--- SELECIONE UM CLIENTE ---</option>
								<?php foreach($this->clientes as $cliente) : ?>
								<option value="<?php echo $cliente['id_cliente']; ?>"><?php echo $cliente['razao_social']; ?></option>
								<?php endforeach; ?>
							</select>
							
							<input type="submit" id="btEnviar" value="Filtrar" />
						</form>
					</div>
					<div style="clear: both;"><br /></div>
					

					<?php if (count($this->dados)>0 && $this->id_produto_categoria>0) : ?>
					<table id="report" class="stylized full" style="">
					<thead><tr>
					
						<?php if (!empty($this->cliente_grupo)) : ?>
						<th style="text-align: center">Grupo <b><?php echo $this->cliente_grupo['titulo']; ?></b> (+<?php echo Porto80_Core::converteFloat($this->cliente_grupo['acrescimo'],2); ?>%)</th>
						<?php endif; ?>					
					
						<th style="text-align: center">Linha <b><?php echo $this->dados[0]['linha']; ?></b> </th>
						<th style="text-align: center"> Categoria <b><?php echo $this->dados[0]['categoria']; ?></b></th>
						
					</tr></thead>
					</table>
					<table id="report" class="stylized full" style="">
						<tbody>
							<?php foreach($this->dados as $dados) :?>
							<tr>
								<td>
									<h4 style="position: absolute; margin: 0px;"><?php echo '('.$dados['qtde_emb'].') '.$dados['titulo'].' '.$dados['embalagem']; ?></h4>
									<a href="<?php echo $this->baseUrl('admin-produto/editar/id/'.$dados['id_produto'].'/b/'.$this->keyfiltro); ?>" title="Editar Produto" style="float: right"><img src="<?php echo $this->baseUrl('admin_img/icons/edit.gif'); ?>" /></a>
									<table id="report" class="stylized full" style="">
										<thead>
											<tr>
												<th>&nbsp;</th>
												<th>Local</th>
												<th>Desconto %</th>
												<th>Pre&ccedil;o</th>
												<th>IVA %</th>
												<th>IPI %</th>
												<th>ICMS %</th>
												<th>FRETE %</th>
												<th>MARGEM %</th>
												<th>VLR. L&Iacute;QUIDO</th>
												<th>VLR. FINAL</th>
												<th>VLR. MARGEM</th>
											</tr>
										</thead>
										<?php  foreach($dados['extras'] as $extra): ?>
										<tr>
											<form action="<?php echo $this->baseUrl('admin-produto-relatorio/atualizar') ?>" method="post">
												<td>
													<a href="<?php echo $this->baseUrl('admin-produto-relatorio/salvar-produto-extra'); ?>" title="Salvar Valores" style="float: right; margin-right: 10px;" class="btSalvarProduto"><img src="<?php echo $this->baseUrl('admin_img/icons/save.png'); ?>" /></a>
													<input type="hidden" name="produto_extra_id_produto" value="<?php echo $dados['id_produto']; ?>" />
													<input type="hidden" name="produto_extra_local" value="<?php echo $extra['local']; ?>" />
													<input type="hidden" name="produto_extra_id_cliente" value="<?php echo $this->id_cliente; ?>" />
												</td>
												<td><?php echo $extra['local']; ?></td>
												<td><input type="text" name="produto_extra_desconto" class="inputnum" value="<?php echo $extra['desconto']; ?>" /></td>
												<td><input type="text" name="produto_extra_preco" class="inputnum" value="<?php echo $extra['preco']; ?>" /></td>
												<td><input type="text" name="produto_extra_iva" class="inputnum" value="<?php echo $extra['iva']; ?>" /></td>
												<td><input type="text" name="produto_extra_ipi" class="inputnum" value="<?php echo $extra['ipi']; ?>" /></td>
												<td><input type="text" name="produto_extra_icms_origem" class="inputnum" value="<?php echo $extra['icms_origem']; ?>" /></td>
												<td><input type="text" name="produto_extra_frete" class="inputnum" value="<?php echo $extra['frete']; ?>" /></td>	
												<td><input type="text" name="produto_extra_margem" class="inputnum" value="<?php echo $extra['margem']; ?>" /></td>
												<td class="txtvlliquido">R$ <?php echo $extra['vlliquido']; ?></td>
												<td class="txtvlfinal">R$ <?php echo $extra['vlfinal']; ?></td>	
												<td class="txtvlmargem">R$ <?php echo $extra['vlmargem']; ?></td>
											</form>
										</tr>
										<?php endforeach; ?>
									</table>
								</td>
							</tr>
							<?php endforeach; ?>
						</tbody>
					</table>
					<?php else: ?>
						<?php if (!empty($this->id_produto_categoria)) : ?>
						<div class="clr"></div>
						<h4>Nenhum produto foi encontrado</h4>
						<?php endif; ?>
					<?php endif; ?>
				</section>				
		</div>
		<!-- End of Wrapper -->
	</div>
	<!-- End of Page content -->